
$secondarycolor: #B77924;
$spacer: 15px;


body {
    margin: 0;
    padding: 0;
}

#line {
    text-align: center;
    width: calc(237px*0.75);
    height: 1px;
    border-top: solid 2px #db861f;
    margin: auto;
    
}

#line2 {
    width: 148.5px;
    height: 2px;
    border-top: solid 2px #db861f;
    margin-bottom: 14.5px;
}

#line3 {
    width: 207.5px;
    height: 0px;
    border-top: solid 2px #db861f;
    margin-bottom: 14.5px;
}




.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}





.btns {
    display:flex;
}

.btnAtributtes {
    display: flex;
    
    #caret {
        filter: invert(71%) sepia(28%) saturate(3105%) hue-rotate(342deg) brightness(87%) contrast(97%);
    }
}

.menu {
    width: 75%;
    margin: auto;
    padding-top: 32px;
}


.nav {
    left: 0;
    position: fixed;
    background-color: #07313f;
    width: 15%;
    height: 100vh;
    flex: 1;
    font-family: monospace;
    font-size: 18px;
    color: $secondarycolor;
    font-weight: 400;
    overflow: auto;
    text-align: center;
    min-width: 250px;
    overflow-y: hidden;
}

nav a picture {
    text-align: center;
}

.hamburger{
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

main {
    width: calc(100% - 250px);
    padding-left: 250px;
    height: 100%;
    flex: 5;

    h1 {
        font-family: monospace;
    }
}

#main_logo {
    margin-top: 1.7em;
    margin-bottom: 1.7em;
}

.submenu {
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
    padding-left: 1em;
}

.submenu a{
    display: block;
    position: static;
    color: $secondarycolor;
    margin: 0;
    font-weight: 400;
}


#Ulscriptos {
    padding: 0;
    padding-top: 1em;
    margin: 0;
    background-color: #07313f;
    text-align: start;
}



li {
    list-style: none;
}

li a {
    text-decoration: none;
}

ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
}

.btn {
    color: $secondarycolor;
    font-size: 24px;
    font-family: monospace;

}

.card:target .submenu{
    max-height: 10em;
}

.card:hover .submenu {
    max-height: 15em;
    
}


#frame {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    
}

.arrow {
    position: absolute;
        width: 11px;
        height: 11px;
        top: -.36rem;
        box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    #main {
        width: 100%;
        padding-top: 90px;
        padding-left: 0;
        flex: 0;
        margin: 0;
    }
    .container {
        flex-direction: column;
    }

    .nav {
        top: 0;
        height: 10%;
        width: 100%;
        flex: 0;

        
    }

    .btnAtributtes {
        align-items: center;
        padding: 1rem 0;
    }

    #caret {
        width: 2.5%;
        padding-right: 8.5%;
    }

    .menu {
        padding-top: 0;
    }

    

    .subnav {
        height: 100%;
        width: 85%;
        margin: auto;
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        overflow-y: hidden;
        transition: 0.3s;
        


    }

    .submenu {
        text-align: start;
        background-color: #07313F;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu{
        display: none;
        text-align: center;
    }

    .card:target .submenu {
        max-height: 15em;
    }

    .menu.active{
        display: block;
        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0D3544;
        margin: auto;


    }

    #Ulscriptos {
        background-color: #0D3544;
        padding-top: 0;
        
    }
    .btn {
        width:75%;
        margin: auto;
    }

    .sub_btn {
        padding-left: 10%;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        z-index: 3;
    }
    

    #line {
        display:none;
    }

    #line2 {
        display: none;
    }

    #line3{
        display: none;
    }
    #iframe1 {
        margin-top: 100px;
    }

    .icon {
        z-index: 1;
    }

    .arrow {
        z-index: 1;
        background-color: #0D3544;
        left: 12.7%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
        
    }

    


    

    
}