
$spacer: 15px;

//Změny v defaultu HTML

* {
    padding: 0;
    margin: 0;
}

:root {
    --menu-color: #07313f;
    --primary-color: white;
    --secondary-color: #db861f;
    --text-color: black;
}

.dark_mode {
    --menu-color: #252525;
    --primary-color: #121212;
    --secondary-color: #db861f;;
    --text-color: white;

    pre {
        background-color: #242424;
        border-color:var(--secondary-color);
    }
    tr:nth-child(odd){
        background-color: #232323;
    }

    th {
        background-color: #242424;
    }




}

html {
    background-color: var(--primary-color);
    
}

body {
    font-family: monospace;
    color: var(--text-color);
    width: calc(100% - 300px);
    margin: auto;
    font-size: 16px;
}

h1 {
    padding-top: 30px;
    font-weight: 400;
    font-size: 4em;

}

h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 1rem;
    z-index: -99;
}

h3:before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(32px + .5rem);
    height: 1px;
    width: 292.9px;
    border-bottom: solid 2px var(--secondary-color);
    box-shadow: 0 0 3px .5px --secondary-color;
    z-index: -99;
}

h4 {
    font-size: 1.7em;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    z-index: -99;
}

h4:before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(32px + .25rem);
    height: 1px;
    width: 300px;
    border-bottom: solid 2px var(--secondary-color);
    box-shadow: 0 0 3px .5px --secondary-color;
    z-index: -99;
}

h5 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    z-index: -99;
}

h5:before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(24px + .25rem);
    height: 1px;
    width: 300px;
    border-bottom: solid 2px var(--secondary-color);
    box-shadow: 0 0 3px .5px --secondary-color;
    z-index: -99;
}

p {
    padding-bottom: 1rem;
}

li {
    padding-bottom: 1rem;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 1.2rem;
}

a, a:visited, a:focus {
    color: var(--secondary-color);
}

img {
    padding-bottom: 1rem;
}

//Tabulka

table {
    width: 100%;
    text-align:left;
    border-spacing: 0;
}

th {
    background-color: #07313f;
    color:#db861f;
    text-transform: uppercase;
    font-size: 1.5em;
}

td {
    font-size: 1.2em;
}

th, td {
    padding: 5px 12px;
}

tr:nth-child(odd){
    background-color: #eeeeee;
}

//pre

pre {
    width:100%;
    border-left: 4px solid #07313f;
    margin: 10px 0;
    padding: 5px 12px;
    background-color: #eee;
    white-space: pre-wrap;
    font-size: 1.2em;
}

//Podtržítka

#templateline {
    margin-top: $spacer;
    width: 100%;
    height: 1px;
    border-top: solid 2px var(--secondary-color);
    
}

#templateline2 {
    width: 292.9px;
    height: 1px;
    border-top: solid 2px var(--secondary-color);
    box-shadow: 0 0 3px .5px --secondary-color;
}



#znalosti {
    font-size: 18px;
    font-weight: 400;
    margin-top: $spacer;
    margin-bottom: $spacer;
}

//Spacery

.height_spacer {
    height: 1.2rem;
}

.height_spacer2 {
    height: calc(1.2rem + 16px);
}

.width_spacer {
    width: 1.2rem;
}

.noBorder {
    padding-bottom:0;
    z-index: 0;
}
.noBorder:before {
    border-bottom: none;
}

.beforecode {
    padding-bottom: .1rem;
}

//Quiz
.btns_quiz {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btnquiz {
    font-size: 1.2rem;
    padding: 1.2rem 0;
    width: 15rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #db861f;
    background: linear-gradient(90deg, #07313f 0%, #083a4a 100%);
    border-radius: 4px;
}

.btnquiz:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btnquiz[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.quiz {
    padding-top: 1rem;
    display: none;
    width: 85%;
    margin: auto;
    background-color: #07313f;
    color: #F1F1E6;
    border-radius: 10px;
    min-width: fit-content;
}

.question {
    display: flex;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    height: 63px;
    background-color: #F1F1E6;
    text-align: center;
    border-radius: 1em;
    align-self: center;
    color: black;


}

.subSection {
    padding-left: 2rem;
}

.descriptionPicture {
    padding-left: 15%;
}

.headerquest {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    text-align: center;
}

#questionText {
    font-weight: 700;
}

#questionNo {
    font-weight: 300;
}

.mainer {
    display: flex;
    flex-direction: column;
}

.cont {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin:auto;
}

.abc {
    padding-top: 11.5px;
    font-size: 1.5em;
    font-weight: 300;
    flex: .25;
    text-align: center;
}

.line {
    width: 2px;
    border-left: solid 2px #F1F1E6;
    margin-bottom: 14.5px;
}

.line2{
    background-color: #07313f;
    width: 7px;
    height: 5px;
}

.timer {
    display: flex;
    align-items: center;
}

.timenum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.choice_que {
    display: flex;
    margin: auto;
    height: 50px;
    cursor: pointer;
    border-radius: 2em;
    border:  #F1F1E6 solid 2px;
    font-size: 1.5em;
    font-family: monospace;
    font-weight: 300;
    color:#F1F1E6;
    padding-left: 45px;
    align-items: center;
}

.choice_que:hover {
    transition: all .5s;
    transform: scale(1.025);
    border-color: #47AF7C;
    color: #47AF7C;
}

#answersSection{
    height: 75px;
    background-color: #083a4a;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 350px;
}

#next_question {
    cursor: pointer;
}

#optionList .disabled {
    pointer-events: none;
}

#optionList {
    flex: 4;
    padding-left: 1rem;
}



.circleback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #07313f;
    border-radius: 50%;
}

#time {
    color: #F1F1E6;
}

.answers {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-transform: uppercase;

    h3 {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }
}

.correct {
    border-color: #47AF7C;
    color:#47AF7C; 
}



.wrong {
    border-color: #722B37;
    color: #722B37;
}

.bgbtn {
    padding: .5rem 2rem;
    background-color: #F1F1E6;
    color: black;
    border-radius: 1.2rem;
}

.bgbtn:hover{
    transition: all .5s;
    transform: scale(1.025);

}

.bgans {
    padding: .5rem 2rem;
    background-color: #F1F1E6;
    color: black;
    border-radius: 1.2rem;
    
}

.hidden {
    display:none;
}

.result {
    width: 45%;
    margin: auto;
    text-align: center;
    padding: 2rem;
    background-color: #07313f;
    color: #F1F1E6;
    text-transform: uppercase;
    letter-spacing: .125em;
    font-size: 1.5em;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    min-width: fit-content;

}

.playagainbtn {
    font-size: 1.2rem;
    padding: 1.2rem 0.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    background-color: #F1F1E6;
    color:#07313f;
}

.playagainbtn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #5B7F8F;
    transition: transform 150ms;
    transform: scale(1.03);
}

#trophy {
    filter: invert(71%) sepia(28%) saturate(3105%) hue-rotate(342deg) brightness(87%) contrast(97%);
}

.req {
    list-style: circle;
    list-style-position: inside;
    padding-left: 1.5rem;
    font-size: 1.2em;
}


.configImage {
    width:100%;
    min-width: 300px;
    max-width: fit-content;
}

.overflowTable {
    overflow-x: auto;
}

@media only screen and (max-width: 1150px) {
    #questionText {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .choice_que {
        font-size: 1rem;
    }
    
    .answers {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 750px) {
    #questionText {
        font-size: .9rem;
        font-weight: 700;
    }
    .choice_que {
        font-size: .75rem;
    }
    .answers {
        font-size: .75rem;
    }

    
}



