@font-face{
    font-family: 'ArgentumSans';
    src: url("./fonts/ArgentumSans-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}
$mainfont: "ArgentumSans";

html {
    background-color: white;
}

body {
    color: black;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-family: $mainfont
}