<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Scriptos - Netzwe</title>
</head>
<body>
    <h1>BGP - Border Gateway Protocol</h1>
    <div id="templateline"></div>
    <h5 for="" id="znalosti" class="noBorder"><b>Předpokládané znalosti</b>: Základy směrování, alespoň 1 IGP protokol</h5>
    <section id="uvod">
        <h3>Úvod do BGP</h3>
        <p>BGP nebo-li Border Gateway Protokol, je protokol, který se používá tehdy, když se směrovat mezi autonomními systémy.</p>
        <p>Patří do skupiny EGP - Enterior Gateway Protocol, která se dále "dělí" do skupiny Path-Vector. Tento typ protokolů funguje podobně jako Distance-Vector, rozdíl je v tom že distance-vector protokol sebou nenese celou cestu až k cíli.</p>
        <p>Př:</p>
        <img src="../static/styles/images/Routing/BGP_PathVector.png" alt="Path Vector" class="configImage">
        <i>Obrázek poukazuje na funkčnost Path-Vector protokolů, kdy BGP má přesně definovaný cíl a cestu kudy k němu, čímž i zabraňuje smyčkám.</i>
        <section id="AS" class="subSection">
            <h4>Autonomní systém</h4>
            <p>Autonomní systém je typicky síť, která je pod správou jedné organizace, příkladem může být Váš ISP, univerzita, či vládní instituce.</p>
            <p>Tato síť je charakterizovaná pomocí Autonomous System Number (ASN), přičemž přidělení tohoto čísla má na starosti IANA.</p>
            <p>ASN je nyní 32bitové číslo.</p>
            <p>Ještě existuje rozsah privátních ASN, přičemž těmito ASN se nelze připojit na internet.</p>
        </section>
        <section id="Princip" class="subSection">
            <h4>Princip BGP</h4>
            <p>BGP funguje podobně jako OSPF a EIGRP na principu sousedství s tím rozdílem, že BGP tyto sousedské vazby aktivně nevyhledává a musí se nakonfigurovat staticky.</p>
            <p>Mezi těmito sousedy BGP vytvoří TCP spojení (port <b>179</b>) a začne na ně posílat <b>NLRI</b> (Network Layer Reachability Information), což je sada informací skládajicí se například z network prefix, prefix length a BGP PA (Path Attributes).</p>
            <p>K tomu, aby BGP vybralo nejlepší cestu do cíle využívá tzv. <b>Path Attributes</b>, které poté popořadě hodnotí.</p>
            <section id="PA" class="subSection">
                <h5>Path Attributes</h5>
                <p>Path Attributes se dělí z hlediska toho zda-li musí být uznávany ve všech BGP implementacích, z hlediska toho zda se uplatňují pouze v nějakém úseku cesty a z hlediska toho zda můžou či musí být v NLRI.</p>
                <ul>
                    <li class="req"><b>Well-known mandatory</b> - základní PA, musí být ve všech BGP implementacích</li>
                    <li class="req"><b>Well-known discetionary</b> - základní PA, nemusí být ale obsažená v NLRI</li>
                    <li class="req"><b>Optional transitive</b> - nemusí být uznávaný v každé BGP implementaci a zůstává přes AS</li>
                    <li class="req"><b>Optional non-transitive</b> - nemusí být uznávaný v každé BGP implementaci a nemusí zůstat přes AS</li>
                </ul>

                <p>Mezi základní PA patří:</p>

                <ul>
                    <li class="req"><b>Weight</b> - Cisco proprietární, BGP vybere tu cestu, která má tuto hodnotu nejvyšší, základní hodnota je 0</li>
                    <li class="req"><b>Local Preference</b> - používá se v rámci autonomního systému, je preferovaná vyšší, základní hodnota je 100</li>
                    <li class="req"><b>Originate</b> - router preferuje síť se kterou má přímé spojení</li>
                    <li class="req"><b>AS Path Length</b> - router preferuje co nejkratší cestu</li>
                    <li class="req"><b>Origin code</b> - router preferuje co nejnižší origin code - origin code nám říka zdroj dané cesty (Jsou 3 možné - IGP - i, EGP - e a Incomplete - ?)</li>
                    <li class="req"><b>MED - MultiExit Discriminator</b> - router preferuje co nejnižší MED, MED se mezi AS mění a informuje ostatní AS jak by se měli do daného AS dostat.</li>
                    <li class="req"><b>Paths</b> - router preferuje cesty od eBGP než od iBGP</li>
                    <li class="req"><b>Oldest Path</b> - router preferuje tu cestu, kterou měl jako první</li>
                    <li class="req"><b>Router ID</b> - router preferuje cestu která vede k sousedovi s nejnižším router ID</li>
                    <li class="req"><b>IP adresa souseda</b> - router preferuje tu cestu, která vede k sousedovi s co nejnižší IP adresou</li>
                </ul>
            </section>
            <section id="BGPtypes" class="subSection">
                <h4>Druhy BGP</h4>
                <p>BGP má 2 různé módy - </p>
                <ul>
                    <li class="req"><b>eBGP</b> - external BGP - klasické BGP - směruje mezi AS, jeho AD je 20 --> velmi preferovaný</li>
                    <li class="req"><b>iBGP</b> - internal BGP - distribujuje routy, které se dozvěděl od eBGP v AS, jeho AD je 200 --> velmi nespolehlivý</li>
                </ul>
            </section>
            <section id="BGPMessages" class="subSection">
                <h4>Přehled BGP zpráv</h4>
                <ul>
                    <li class="req"><b>Open</b> - zpráva, která se používá během zahajování BGP sousedství, obsahuje např. BGP verzi, ASN zahajujicího routeru, časovač (Holdtime - 180s)</li>
                    <li class="req"><b>Keepalive</b> - zpráva, která znemožňuje vypršení časovače.</li>
                    <li class="req"><b>Update</b> - zpráva, která obsahuje informaci o nějaké změně</li>
                    <li class="req"><b>Notification Update</b> - zpráva, která obsahuje chybovou hlášku</li>
                </ul>
            </section>
            <section id="NeighborStates" class="subSection">
                <h4>Vznik sousedského spojení</h4>
                <p>Podobně jako u OSPF si BGP routery musí projít určitými stádii předtím než vznikne jejich spojení.</p>
                <section id="Idle" class="subSection">
                    <h5>Idle</h5>
                    <p>Úplně první stádium. BGP čeká na impuls. Ten nastává tehdy když někdo nakonfiguruje nového BGP souseda nebo tehdy když je BGP vyresetováno.</p>
                </section>
                <section id="Connect" class="subSection">
                    <h5>Connect</h5>
                    <p>Během connect stádia BGP čeká na dokončení TCP three-way handshaku (port <b> 179</b> ). Jestliže toto proběhne bez jakýchkoliv potíží BGP přejde rovnou do OpenSent stádia, pakliže nastal problém přejde do Active stádia.</p>
                </section>
                <section id="Active" class="subSection">
                    <h5>Active</h5>
                    <p>V tomto stádiu se BGP snaží znovu dokončit TCP three-way handshake, pakliže neuspěje tak se BGP přesune zpět do Idle stádia.</p>
                </section>
                <section id="OpenSent" class="subSection">
                    <h5>OpenSent</h5>
                    <p>BGP čeká na to až dostane open zprávu, která obsahuje všechny důležitý informace o BGP protějšku.</p>
                    <p>Pakliže je toto úspěšné začne potenciálnímu sousedovi posílat keepalive zprávy.</p>
                </section>
                <section id="OpenConfirm" class="subSection">
                    <h5>OpenConfirm</h5>
                    <p>BGP čeká na keepalive zprávy od souseda.</p>
                    <p>Při jejich obdržení je proces dokončen a přesune se do konečného stádia.</p>
                </section>
                <section id="Established" class="subSection">
                    <h5>Established</h5>
                    <p>Sousedské spojení bylo úspěšně vytvořeno a nyní už se posílají pouze UPDATE a KEEPALIVE zprávy, přičemž pokaždé když BGP router tuto zprávu dostane vyresetuje svůj timer.</p>
                </section>
            </section>
        </section>
    </section>
    <section id="config">
        <h3>Základní konfigurace</h3>
        <p>Nakonfiguruj BGP mezi AS 65100 a 65200: </p>
        <img src="../static/styles/images/Routing/BGP_Konfigurace.png" alt="" class="configImage">
        <p class="beforecode">Nejdřív přejdeme do BGP módu: </p>
        <pre>R1(config)#router bgp 65100</pre>
        <p class="beforecode">Teď staticky identifikujeme souseda</p>
        <pre>R1(config-router)#neighbor 198.169.0.2 remote-AS 65200</pre>
        <p class="beforecode">A definujeme které sítě má BGP propagovat </p>
        <pre>R1(config-router)#network 192.168.1.0 mask 255.255.255.0</pre>
        <p class="beforecode">To samé zopakujeme i na druhém routeru: </p>
        <pre>R2(config)#router bgp 65200
R2(config-router)#neighbor 198.169.0.1 remote-AS 65100
R2(config-router)#network 192.168.2.0 mask 255.255.255.0
</pre>
        <p class="beforecode">Nakonfigurovat můžeme například i specifické router-id:</p>
        <pre>R1(config-router)#bgp router-id 1.1.1.1</pre>
        <pre>R2(config-router)#bgp router-id 2.2.2.2</pre>

        <p class="beforecode">Pro troubleshooting pak například můžeme použít následujicí příkazy: </p>
        <pre>R1#show ip bgp</pre>
        <p class="beforecode">Tento příklad vypíše základní informace o BGP v síti, z příkazu jdou zjistit BGP verze, PA, propagované sítě a router-id.</p>
        <pre>R1#show ip bgp summary</pre>
        <p class="beforecode">Vypíše shrnutí bgp na routeru.</p>
        <pre>R1#show ip bgp neighbors</pre>
        <pre>Vypíše veškeré informace o BGP sousedovi.</pre>
        <p>Základní konfiguraci si můžete vyzkoušet <a href="../Labs/Routing/BGP_Zaklady.pka">zde</a>.</p>
    </section>
    <section id="prehledPrikazu">
        <h3>Přehled příkazů (PT)</h3>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>Příkazy</th>
                        <th>Popis</th>
                        <th>Mód</th>
                    </tr>
                    <tr>
                        <td>router bgp {ASN}</th>
                        <td>přepne do bgp módu</td>
                        <td>Global Config</td>
                    </tr>
                    <tr>
                        <td>neighbor {IP} remote-AS {ASN}</td>
                        <td>určí souseda</td>
                        <td>Config-Router</td>
                    </tr>
                    <tr>
                        <td>network {NET_ID} mask {mask}</th>
                        <td>propaguje specifikovanou síť</td>
                        <td>Config-Router</td>
                    </tr>
                    <tr>
                        <td>bgp router-id {R_ID}</th>
                        <td>nastaví specifické router-id</td>
                        <td>Config-Router</td>
                    </tr>
                    <tr>
                        <td>show ip bgp</td>
                        <td>Zobrazí informace o truncích</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show ip bgp summary</td>
                        <td>Zobrazí informace o VLAN</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show ip bgp neighbors</td>
                        <td>Zobrazí informace o VTP</td>
                        <td>EXEC</td>
                    </tr>
                </table>
            </div>
    </section>
    <div class="height_spacer"></div>
    <section id="zaver">
        <h3>Závěr</h3>
        <p>BGP je v dnešní době jediný používaný EGP protokol, který je velmi důležitý k fungování internetu.</p>
        <p>Funguje na tom principu, že se autonomnímu systému přidělí identifikátor ASN, pomocí toho identifikátoru a IP adresy souseda pak síťař manuálně určí souseda.</p>
        <p>Podstatné také je, že k tomu, aby BGP fungovalo správně musí mezi sousedy vznikout TCP spojení na portu <b>179</b>.</p>
        <p>K vybrání nejlepší cesty do sítě používá tzv. Path Attributes.</p>
        <p>BGP má 2 módy - eBGP - funguje mezi ASN a iBGP - funguje v rámci 1 AS a jeho cílem je distribuovat eBGP routy.</p>
    </section>
    <div class="height_spacer"></div>
    <h3 style="text-align: center;" class="noBorder">Chcete si latku procvičit?</h3>
    <div id="templateline2" style='margin: auto;'></div>
    <div class="height_spacer"></div>
    <div class="btns_quiz">
        <a class="btnquiz" id="play">Hrát</a>
    </div>
    <div class="quiz" id="quiz">
        
        <div class="question" id="question">
            <div class="headerquest">
                <h2 id="questionNo">1.</h2>
                <h2 id="questionText"></h2>
                <div class="timer" id="timer">
                    <h6>čas:&nbsp</h6>
                    
                    <div class="timenum">
                        <div class="line2"></div>
                        <div class="circleback">
                            <h6 id="time">00</h6>
                        </div>
                        <div class="line2"></div>
                    </div>
            </div>
            </div>
        </div>
        <div class="mainer">
            <div class="height_spacer"></div>
            <div class="cont">
                <div class="abc">
                    <p class="letter">A</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">B</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">C</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">D</p>
                </div>
                
                <div class="line"></div>
                <div id="optionList">
                    <h4 class='choice_que noBorder' id="opt1"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt2"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt3"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt4"></h4>
                    <div class="height_spacer"></div>
                </div>
            </div>
        </div>

        <div id="answersSection">
            <div class="answers">
                <div class="bgans">
                    <h3 id="total_correct" class="noBorder">0</h3>
                </div>
                <div class="bgbtn" id="next_quest">
                    <h3 class="noBorder">Další</h3>
                </div>
            </div>
        </div>

        
    </div>
    <div class="result hidden">
        <img src="../static/styles/images/logos/trophy.svg" alt="" id="trophy" width="25%" height="25%">
        <h2>Výsledky</h2>
        <p id="points"></p>
        <div class="height_spacer"></div>
        <a class="playagainbtn" id="playagain">Hrát znovu</a>
    </div>
    <div class="height_spacer"></div>
<script src="../static/quiz.js"></script>
<script src="../static/quest.js"></script>
</body>
</html>