<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Scriptos - Netzwe</title>
</head>
<body>
    <h1>OSPF - Open Shortest Path First Protocol</h1>
    <div id="templateline"></div>
    <h5 for="" id="znalosti" class="noBorder"><b>Předpokládané znalosti</b>: Úvod do směrování, základy IPv4</h5>
    <section id="CCNAREq">
        <h5>CCNA požadavky:</h5>
        <ul>
            <li class="req">Umět nakonfigurovat a spravovat single area OSPFv2</li>
            <li class="req">Neighbor adjacencies</li>
            <li class="req">Point-to-point</li>
            <li class="req">Broadcast (DR/BDR selection)</li>
            <li class="req">Router ID <--- zpracováno v úvodu do směrování</li>
        </ul>
    </section>
    <section id="uvod">
        <h3 id="problematika">Úvod do OSPF</h3>
        <p>OSPF je jeden z link-state IGP protokolů, je postaven na Dijskra algoritmu a za dobu jeho existence vyšly 3 verze, přičemž 2. je v rámci IPv4 nejpoužívanější.</p>
        <p>Link-state protokoly fungují tak, že všechny směrovače sdílí informace na všechny ostatní směrovače a společně si staví mapu sítě (Oproti distance-vector protokolům, kde směrovač tyto údaje poskytne pouze sousedícím směrovačům).</p>
        <p>Jeho administrative distance je <b>110</b>.</p>
        <p>Používá multicastovou adresu 224.0.0.5 pro posílání zpráv mezi OSPF směrovači (pokud v síti není DR/BDR).</p>
    </section>
    <section id="OSPFproces">
        <h3>OSPF proces</h3>
        <p>OSPF proces se skládá ze 3 hlavních částí: </p>
        <ul>
            <li class="req">Navázaní sousedkého vztahu (Becoming Neighbors)</li>
            <li class="req">Výměna databází (Exchanging databases)</li>
            <li class="req">Přidání nejlepší cesty (Adding the best routes)</li>
        </ul>

        <section id="BecomingNeighbors" class="subSection">
            <h4>Navázání sousedského vztahu (Becoming Neighbors)</h4>
            <p>Za OSPF sousedy jsou považovány ty směrovače, které splňují následujicí podmínky: </p>
            <ul>
                <li class="req">Musí být ve stejné oblasti</li>
                <li class="req">Musí být ve stejné subnetě</li>
                <li class="req">OSPF nesmí být na daném interface vypnutý</li>
                <li class="req">Router-id musí být unikátní</li>
                <li class="req">Timers (hello & dead) musí být shodný</li>
                <li class="req">Autentizace musí být shodná</li>
                <li class="req">IP MTU musí být shodné</li>
                <li class="req">OSPF Network typ musí být shodný</li>
            </ul>
            <p>Nicméně zas tento proces jednoduchý není a směrovače splňující tyto podmínky se ihned nestanou OSPF sousedy.</p>
            <section id="DownState" class="subSection">
                <h5>Down State</h5>
                <p>Celý tento proces zahajuje, podobně jako u EIGRP, <b>Hello message</b>, tou se tak představí svému potenciálnímu sousedovi.</p>
                <p>Hello message obsahuje: </p>
                <ul>
                    <li class="req">Network mask</li>
                    <li class="req">Hello interval - interval složící pro posílání hello messages</li>
                    <li class="req">Router Priority - slouží k vybrání DR/BDR, pokud je 0, router se neúčastní této volby</li>
                    <li class="req">Router Dead Interval - interval, který určuje kdy má být daný soused označen jako vypnutý.</li>
                    <li class="req">Designated Router - obsahuje IP adresu DR (dokud není DR vybrán, tak IP adresa je 0.0.0.0 nebo pakliže je network-type point-to-point)</li>
                    <li class="req">Backup Designated Router - obsahuje IP adresu BDR (dokud není BDR vybrán, tak IP adresa je 0.0.0.0 nebo jestliže je network-type point-to-point)</li>
                    <li class="req">Neighbor (Router-ID) - tato hodnota je router-ID</li>
                </ul>
            </section>
            <section id="InitState" class="subSection">
                <h5>Init State</h5>
                <p>Jestliže sousednímu routeru přijde OSPF hello message a odpoví na ní ACK, nalézáme se v Init části becoming Neighbors procesu.</p>
            </section>
            <section id="2WayState" class="subSection">
                <h5>2-way State</h5>
                <p>Když sousedící router odpoví svojí OSPF hello message, která obsahuje RID (router-id) obou routerů, nastává 2-way state.</p>
                <p>V tomto stavu nastává taky výběr Designated a Backup Designated Routerů.</p>
            </section>
        </section>
        <section id="ExchangeDatabases" class="subSection">
            <h4>Výměna databází</h4>
            <p>V této části procesu nastává hlavní výměna informací, které se nacházejí v jejich směrovací tabulce.</p>
            <section id="ExstartState" class="subSection">
                <h5>Exstart State</h5>
                <p>OSPF routery si v tomto stavu chtějí začínat vyměňovat informace o jejich LSDB (Link-State Database).</p>
                <p>K tomu ale někdo musí začít - nastává volba MASTER-SLAVE.</p>
                <p><b>Masterem</b> se stává OSPF router, který má větší router-id, ten s menší RID se stává <b>Slave</b>.</p>
                <p>Master poté zahajuje výměnu.</p>
            </section>
            <section id="ExchangeState" class="subSection">
                <h5>Exchange State</h5>
                <p>Routery si v tomto stavu vyměňují DBD (Database Descriptions), který obsahuje list hlavičky LSA (Link-State Advertisment, obsahuje informace o subnetech, které router zná a je k ním přímo připojený.) v jejich LSDB.</p>
                <p>Druhý router tohle porovná se svými LSA a v případě chybějícího záznamu po druhém routeru žádá o jeho zaslání.</p>
            </section>
            <section id="LoadingState" class="subSection">
                <h5>Loading State</h5>
                <p>Chybějící záznamy jsou zaslány v podobě LSU (Link-State Update).</p>
                <p>Jakmile routeru tyto chybějící záznamy přijdou, potvrdí odesílacímu routeru pomocí LSAck zprávy, že chybějící záznamy obdržel.</p>
            </section>
        </section>
        <section id="AddingTheBestRoute" class="subSection">
            <h4>Přidání nejlepší cesty</h4>
            <p>V tuto chvíli se router nachází ve <b>Full</b> state, což znamená, že všechny routery v jedné OSPF oblasti mají stejnou LSDB.</p>
            <p>I když mají identické LSDB stále si posílají Hello pakety, přičemž pokaždé, když tuto zprávu obdrží, vyresetuje se dead timer (běžně 40s).</p>
            <p>Jakmile je tento dead timer na 0, sousedský vztah je zrušen.</p>
            <p>V případě změny v síti si zašlou LSU, aby měli stejnou LSDB.</p>
            <section id="OSPFCost" class="subSection">
                <h5>OSPF Cost</h5>
                <p>V tuto chvíli, když má router všechna dostupná data, si spočítá OSPF cost a určí nejlepší cestu do dostupných subnet.</p>
                <p>OSPF Cost se určuje dle bandwidth.</p>
                <p class="beforecode">Celkový vzoreček je: </p>
                <pre>COST = reference_bandwidth / interface_bandwidth </pre>
                <p class="beforecode"><b>Reference bandwidth</b> je defaultně 100mbps, ale je možné to přenastavit.</p>
                <pre>router(config-router)#auto-cost reference-bandwidth {*mbps}</pre>
                <p>*Pro co největší efektivitu by tato hodnota měla být vyšší než bandwidth nejrychlejšího linku.</p>
                <p class="beforecode">OSPF Cost lze nastavit i manuálně pomocí příkazu: </p>
                <pre>router(config-router)#ip ospf cost {cost}</pre>
                <p class="beforecode">Případně lze ještě změnit pomocí změny interface_bandwidth pomocí příkazu: </p>
                <pre>router(config-int)#bandwidth {speed}</pre>
                <p>*Tento příkaz nezmění rychlost v jakém link pracuje.</p>
                <p>Příklad: </p>
                <p>Spočítej OSPF cost mezi všemi routery, reference_bandwidth je všude nastavená na 10Gbps.</p>
                <img src="../static/styles/images/Routing/ospfcost.png" alt="OSPFCost" class="configImage">
                <p>Řešení: </p>
                <p>R1-R2 = 100</p>
                <p>R1-R3 = 1000</p>
                <p>R2-R4 = 10</p>
                <p>R3-R4 = 100</p>
            </section>
        </section>
    </section>
    <section id="NetworkTypes">
        <h3>OSPF Network Types</h3>
        <p>U OSPF se také určují tzv. Network Types, který ovlivňují celý chod OSPF procesu.</p>
        <p class="beforecode">OSPF Network type jde manuálně nastavit nicméně toto z vlastní zkušenosti nedoporučuji, protože tím můžete ohrozit fungování OSPF.</p>
        <pre>Router(config-if)#ip ospf network {type}</pre>
        <p>OSPF Network Type nám například říká, zda se dynamicky hledají OSPF sousedy nebo zda se bude vybírat designated router (DR) a backup desiganed router (BDR).</p>
        <section id="BroadcastType" class="subSection">
            <h4>Broadcast Type</h4>
            <p>Tento typ je standardně na Ethernet a FDDI interfacích.</p>
            <p>U tohoto typu jsou OSPF sousedi dynamicky nalezeni.</p>
            <p>U Broadcast typu se volí designated a backup designated routery (DR & BDR).</p>
            <section id="DR&BDR" class="subSection">
                <h5>DR & BDR</h5>
                <p>V broadcast a non-broadcast OSPF sítích se setkáte s pojmy DR, BDR a DROther.</p>
                <p>Routerům, který se nestaly ani DR či BDR, se přezdívá DROther.</p>
                <p>DR (Designated router) je router, který se objevuje v broadcast a non-broadcast typu OSPF sítě. Jeho úkolem je návazat se všemi ostatními routery v subnetě Full adjacency.</p>
                <p>To je dáno tím, že v broadcast a non-broadcast typu sítě spolu DROther v subnetě nenavazují full adjacency (Tím se zlepší LSA flooding ), ale pouze dojdou do 2-way stavu a vyměnují si LSA pouze s DR a BDR  přes multicast adresu 224.0.0.6.</p>
                <p>BDR je router, který slouží jako případný náhradník v případě, že link bude nějak přerušen či manuálně vypnutý nebo bude celá OSPF činnost restartována.</p>
                <section id="DR&BDR_Election" class="subSection">
                    <h5>Volba DR & BDR</h5>
                    <p>Role DR a BDR se v subnetě určují pomocí: </p>
                    <ul>
                        <li class="req">nejvyšší OSPF priority - normálně je všude 1</li>
                        <li class="req">pomocí nejvyšší OSPF router-id</li>
                    </ul>
                    <p>Router s 1. místem v subnetě získává roli DR, router s 2. místem získává BDR roli a všechny zbylí routery v subnetě získávají roli DROther.</p>
                    <p>V případě že proces OSPF byl restartován a OSPF priority či router-id byly změněny, DR se <b>NESTÁVÁ</b> router, který má nyní nejvyšší OSPF priority či router-id ale stává se jím bývalý BDR. Router s nynější nejvyšší priority či router-id se stává BDR.</p>
                    <p>Když se stane, že v subnetě je pouze 1 OSPF router, tak automaticky získává DR roli pro danou subnetu.</p>
                </section>
            </section>
        </section>
        <section id="P2PType" class="subSection">
            <h4>Point-to-point type</h4>
            <p>Tenhle typ je za normálních okolností na PPP a HDLC interfacích (serial links).</p>
            <p>Neexistuje zde DR/BDR.</p>
        </section>
        <section id="NonBroadcastType" class="subSection">
            <h4>Non-Broadcast Type</h4>
            <p>Tento typ dynamicky nehledá OSPF sousedy.</p>
            <p>Je zde přítomno DR a BDR.</p>
        </section>
        <section id="PrehledOSPFTypes" class="subSection">
            <h4>Přehled OSPF Types</h4>
            <table class="overflowtable">
                <tr>
                    <th></th>
                    <th>Broadcast</th>
                    <th>Point-to-point</th>
                    <th>Non-Broadcast</th>
                </tr>
                <tr>
                    <td>Volba DR/BDR</th>
                    <td>ano</td>
                    <td>ne</td>
                    <td>ano</td>
                </tr>
                <tr>
                    <td>Dynamické budování sousedských vztahů</td>
                    <td>ano</td>
                    <td>ano</td>
                    <td>ne</td>
                </tr>
                <tr>
                    <td>Timer (Hello/Dead)</td>
                    <td>10/40</td>
                    <td>10/40</td>
                    <td>30/120</td>
                </tr>
            </table>
        </section>
    </section>
    <section id="OSPFMessages">
        <h3>OSPF Messages</h3>
        <table class="overflowTable">
            <tr>
                <th>Typ</th>
                <th>Nazev</th>
                <th>Popis</th>
            </tr>
            <tr>
                <td>1</th>
                <td>Hello</td>
                <td>Buduje a udržuje vztah se sousedy</td>
            </tr>
            <tr>
                <td>2</th>
                <td>DBD (Database Description)</td>
                <td>Synchronizuje databáze mezi routery</td>
            </tr>
            <tr>
                <td>3</th>
                <td>LSR (Link-State Request)</td>
                <td>Žádá o specifický záznam</td>
            </tr>
            <tr>
                <td>4</th>
                <td>LSU (Link-State Update)</td>
                <td>Posílá specifický záznam</td>
            </tr>
            <tr>
                <td>5</th>
                <td>LSAck (Link-State Acknowledgement)</td>
                <td>Dává vědět o příjmutí záznamu</td>
            </tr>
        </table>
    </section>
    <section id="OSPFArea">
        <h3>OSPF (area) oblasti</h3>
        <p>Pro svoji velkou náročnost ve větších sítích byly vyvinuty tzv <b>OSPF oblasti</b>.</p>
        <p>Ty nám topologii rozdělí na menší části, který mají totožnou LSDB.</p>
        <p>To má za následek menší vytížení CPU a paměti na routerech.</p>
        <section id="AreaPros" class="subSection">
            <h4>Výhody oblastí</h4>
            <ul>
                <li class="req">Nižší spotřeba CPU</li>
                <li class="req">Je potřeba méně paměti</li>
                <li class="req">Změna v síti potřebuje rekalkulaci SPF pouze na routerech v dané oblasti, kde se něco změnilo</li>
            </ul>
        </section>
        <section id="OSPFAreaTerminology" class="subSection">
            <h4>Základní OSPF area Terminologie</h4>
            <img src="../static/styles/images/Routing/OSPFAREA.png" alt="OSPFarea" class="configImage">
            <ul>
                <li class="req"><b>Area Border Router (ABR)</b> - Router, jehož jeden interface je připojený k backbone oblasti a druhý k nonbackbone oblasti</li>
                <li class="req"><b>Backbone router</b> - router, který je připojený v backbone oblasti (sem se počítají i ABR)</li>
                <li class="req"><b>Internal router</b> - router, jehož interface se nachází v jedné nonbackbone oblasti</li>
                <li class="req"><b>Area/Oblast</b> - skupina routerů, které sdílí stejnou LSDB</li>
                <li class="req"><b>Backbone area</b> - speciální typ, oblast, ke které musí být připojený všechny ostatní OSPF oblasti</li>
                <li class="req"><b>Intra-area route</b> - route, která má cíl ve stejné oblasti jako router</li>
                <li class="req"><b>Interarea route</b> - route, která má cíl v jiné oblasti než je router</li>
            </ul>
        </section>
        <section id="AreaCost" class="subSection">
            <h4>Jak oblasti vlastně zmenšují vytížení?</h4>
            <p>SPF (algoritmus) většinu času stráví tím, že zpracovává všechny detaily o síťové topologii (hlavně informace o routerech a lincích). Podle těchto informací se snaží určit nejlepší cestu do jednotlivých subnet.</p>
            <p>Oblasti tento čas zredukují tím, že detailně jsou v LSDB obsaženy jen ty routery a linky v rámci té oblasti.</p>
            <p>I když má LSDB díky oblastem míň informací o sítích mimo oblast, stále musí mít routes do všech subnet v rámci OSPF.</p>
            <p>OSPFv2 tento problém řeší tak, že o sítích v jiné oblasti poskytne pouze stručné shrnutí. Tyto speciální LSA neobsahují tak detailní informace o topologii ale v podstatě jen subnet ID a subnet mask.</p>
            <p>Díky tomu tyto LSA nepotřebují tolik času na zpracování, místo toho v rámci oblasti se tyto subnety z jiných oblastí objeví pod připojením k ABR.</p>
        </section>
        <section id="LSATypes" class="subSection">
            <h4>Přehled LSA Typů</h4>
            <section id="RouterLSA" class="subSection">
                <h5>TYP 1 - Router LSA</h5>
                <p>Tento typ je generován každým OSPF routerem.</p>
                <p>Identifikuje router a sítě připojené k routeru, přičemž obsahuje RID, interface, IP adresy a status interfacu.</p>
                <p>Posílají se pouze uvnitř area.</p>
            </section>
            <section id="NetworkLSA" class="subSection">
                <h5>TYP 2 - Network LSA</h5>
                <p>Tento typ je generován DR routerem.</p>
                <p>Listuje routery, které jsou připojené k multi-access síti.</p>
                <p>Obsahuje IP adresy, subnet id a masky DR a BDR.</p>
                <p>Posílají se pouze uvnitř area.</p>
            </section>
            <section id="SummaryLSA" class="subSection">
                <h5>TYP 3 - Summary LSA</h5>
                <p>Je generován pomocí ABR.</p>
                <p>Tento typ popisuje subnety v jiných areas.</p>
                <p>Obsahuje Subnet ID a mask, ABR RID, která propaguje LSA.</p>
            </section>
            <section id="SummaryLSA" class="subSection">
                <h5>TYP 4 - Summary ASBR LSA</h5>
                <p>Je generován pomocí ASBR (Autonomous system boundary router).</p>
                <p>Tento typ se snaží ostatním routerům sdělit kde je ASBR.</p>
                <p>Obsahuje ASBR RID.</p>
            </section>
            <section id="ExternalLSA" class="subSection">
                <h5>TYP 5 - External LSA</h5>
                <p>Je generován taktéž pomocí ASBR (Autonomous system boundary router).</p>
                <p>Tento typ propaguje routy, které byly nainportovány do OSPF sítě pomocí jiných routing protokolů.</p>
                <p>Obsahuje routes, které byly přijaty od ostatních routing protokolů.</p>
            </section>
        </section>
    </section>
    <section id="OSPFConfiguration">
        <h3>Základní OSPF konfigurace</h3>
        <p>Úkol: Nastav alespoň co se týče základních věcí OSPF v této síti: </p>
        <img src="../static/styles/images/Routing/ZakladniKonfigurace.png" alt="OSPF Konfigurace" class="configImage">
        <p class="beforecode">Nejdříve na R1 nastavíme nastavíme ip adresy na daných interfacích: </p>
        <pre>
R1(config)#interface fa0/1
R1(config-if)#ip address 15.4.2.1 255.255.255.0
R1(config-if)#no shutdown
R1(config-if)#interface g0/0
R1(config-if)#ip address 192.168.1.1 255.255.255.252 
R1(config-if)#no shutdown</pre>
        <p class="beforecode">To samé uděláme i na R2.</p>
        <pre>
R2(config)#interface fa0/1
R2(config-if)#ip address 15.4.3.1 255.255.255.0
R2(config-if)#no shutdown
R2(config-if)#interface g0/0
R2(config-if)#ip address 192.168.1.2 255.255.255.252
R2(config-if)#no shutdown</pre>
<p>Nyní je třeba nastavit samotné OSPF.</p>
<p>To se dělá pomocí network/ip OSPF příkazu, který routeru říká, který interface bude zahrnut v rámci OSPF procesu a která area bude jemu přiřazená.</p>
<p>Příkaz se zadává v ospf módu a ip OSPF na interface.</p>
<p class="beforecode">Network příkaz v OSPF módu:</p>
<pre>
R1(config)#router ospf 1
R1(config-router)#network 192.168.1.0 0.0.0.3 area 0
R1(config-router)#network 15.4.2.0 0.0.0.255 area 0
</pre>
<p class="beforecode">IP OSPF příkaz na interface: </p>
<pre>
R2(config)#interface g0/0
R2(config-if)#ip ospf 1 area 0
R2(config)#interface fa0/1
R2(config-if)#ip ospf 1 area 0
</pre>
<p>Dobrou praxí je také nastavit na interfacích fa0/1 na obou routerech pasivní interface - zastavení OSPF procesu na těchto interfacích.</p>
<p class="beforecode">Tento příkaz se zadává v ospf módu.</p>
<pre>
R1(config-router)#passive-interface fa0/1
</pre>
<pre>
R2(config-router)#passive-interface fa0/1
</pre>
<p>Dále můžeme nastavit například autentizaci, ta slouží k tomu, aby daný router neudělal sousedský vztah s kýmkoliv s kým bude tvořit podmínky.</p>
<p>Tato autentizace může být buď v plaintextu nebo v MD5.</p>
<p>Obecně doporučuji používat spíš tu MD5.</p>
<p class="beforecode">Nastavení autentizace na R1:</p>
<pre>
R1(config)#interface g0/0
R1(config-if)#ip ospf message-digest-key 1 md5 heslo
R1(config-if)#ip ospf authentication message-digest
</pre>
<p class="beforecode">Nastavení autentizace na R2:</p>
<pre>
R2(config)#interface g0/0
R2(config-if)#ip ospf message-digest-key 1 md5 heslo
R2(config-if)#ip ospf authentication message-digest
</pre>
<p>Procvičit si základy OSPF konfigurace můžeš <a href="../Labs/Routing/OSPF_Zaklady_lab.pka">zde</a>.</p>
<p>Procvičit si troubleshooting OSPF konfigurace můžeš <a href="../Labs/Routing/OSPF_Troubleshooting.pka">zde</a>.</p>
    </section>
    <section id="OSPFv3">
        <h3>OSPFv3</h3>
        <p>OSPF podporujicí IPv6 směrování.</p>
        <p>Používá FF02::5 a FF02::6 multicastové adresy pro komunikaci</p>
        <section id="OSPFv3_Conf" class="subSection">
            <h4>Konfigurace</h4>
            <p>Zadání: Nakonfiguruj OSPFv3 pro danou síť: </p>
            <img src="../static/styles/images/Routing/OSPFv3.png" alt="OSPFv3Configuration" class="configImage">
            <p class="beforecode">Konfiguraci začneme tím, že klasicky povolíme ipv6 routing na routerech.</p>
            <pre>R1(config)#ipv6 unicast-routing</pre>
            <p class="beforecode">Dále nakonfigurujeme na jednotlivých zařízeních router-id, který stále <b>MUSÍ</b> být 32bitové.</p>
            <pre>R1(config)#ipv6 ospf router 1
R1(config-router)#router-id 1.1.1.1</pre>
            <p class="beforecode">Teď už nezbývá nic jiného než nakonfigurovat propagaci sítí na daných interfacích.</p>
            <pre>R1(config)#interface range g0/0 - g0/1
R1(config-range)#ipv6 ospf 1 area 0</pre>
            <p>Tuto konfiguraci zopakujeme i na 2. routeru a OSPFv3 by mělo mezi routery běžet.</p>
        </section>
    </section>
    <section id="prehledPrikazu">
        <h3>Přehled příkazů (PT)</h3>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>Příkazy</th>
                        <th>Popis</th>
                        <th>Mód</th>
                    </tr>
                    <tr>
                        <td>router ospf {proccess_id}</th>
                        <td>Přepnutí do OSPF módu</td>
                        <td>Global Config</td>
                    </tr>
                    <tr>
                        <td>network {IP} {Wildcard_mask} area {area}</th>
                        <td>Začne propagovat danou subnet</td>
                        <td>ospf mód</td>
                    </tr>
                    <tr>
                        <td>passive-interface {interface}</th>
                        <td>Přestane propagovat hello messages na daný interface</td>
                        <td>ospf mód</td>
                    </tr>
                    <tr>
                        <td>default-information originate</th>
                        <td>Začne propagovat default route</td>
                        <td>ospf mód</td>
                    </tr>
                    <tr>
                        <td>distance {1-255}</th>
                        <td>Změní administrative distance OSPF</td>
                        <td>ospf mód</td>
                    </tr>
                    <tr>
                        <td>auto-cost reference-bandwidth {1-4294967}</th>
                        <td>Změní reference bandwidth</td>
                        <td>ospf mód</td>
                    </tr>
                    <tr>
                        <td>router-id {A.B.C.D}</th>
                        <td>Manuálně nastaví router-id</td>
                        <td>ospf mód</td>
                    </tr>
                    <tr>
                        <td>ospf cost {1-65535}</th>
                        <td>Manuálně nastaví OSPF cost na daném interface</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>ip ospf priority {0-255}</th>
                        <td>Nastaví OSPF priority na daném interface</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>ip ospf hello-interval {1-65535}</th>
                        <td>Nastaví interval ve kterém se budou na daném interfacu posílat hello zprávy</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>ip ospf dead-interval {1-65535}</th>
                        <td>Nastaví interval ve kterém se budou na daném interfacu posílat dead zprávy</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>ip ospf authentication</th>
                        <td>Zapne autentizaci na daném interface</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>ip ospf authentication-key {slovo}</th>
                        <td>Nastaví plaintext autentizační key</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>ip ospf message-digest-key {1-255} md5 {slovo}</th>
                        <td>Nastaví MD5 autentizační key</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>ip ospf authentication message-digest</th>
                        <td>Nastaví MD5 autentizaci (pakliže je správně nastavený message-digest)</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>ip ospf network point-to-point</th>
                        <td>Nastaví point-to-point network typ</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>ip ospf {process_id} area {area}</th>
                        <td>Aktivuje OSPF na daném interface</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>show ip ospf database</th>
                        <td>Zobrazí LSDB</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show ip ospf interface {interface}</th>
                        <td>Zobrazí OSPF nastavení na daném interface</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show ip ospf neighbor</th>
                        <td>Zobrazí OSPF neighbors</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>debug ip ospf {adj | events}</th>
                        <td>Debugging OSPF</td>
                        <td>EXEC</td>
                    </tr>
                    
                </table>
            </div>
    </section>
    <div class="height_spacer"></div>
    <section id="zaver">
        <h3>Závěr</h3>
        <p>OSPF, momentálně jeden z nejpoužívanějších routing protokolů, je postaven na Dijskra algoritmu.</p>
        <p>Je postaven na 3 základních procesech - navázání sousedského vztahu, výměně LSDB, a nalezení nejlepší cesty do cíle.</p>
        <p>K nalezení nejlepší cesty do cíle používá bandwidth.</p>
        <p>Pro větší sítě má OSPF řešení v tzv. oblastech.</p>
    </section>
    <div class="height_spacer"></div>
    <h3 style="text-align: center;" class="noBorder">Chcete si latku procvičit?</h3>
    <div id="templateline2" style='margin: auto;'></div>
    <div class="height_spacer"></div>
    <div class="btns_quiz">
        <a class="btnquiz" id="play">Hrát</a>
    </div>
    <div class="quiz" id="quiz">
        
        <div class="question" id="question">
            <div class="headerquest">
                <h2 id="questionNo">1.</h2>
                <h2 id="questionText"></h2>
                <div class="timer" id="timer">
                    <h6>čas:&nbsp</h6>
                    
                    <div class="timenum">
                        <div class="line2"></div>
                        <div class="circleback">
                            <h6 id="time">00</h6>
                        </div>
                        <div class="line2"></div>
                    </div>
            </div>
            </div>
        </div>
        <div class="mainer">
            <div class="height_spacer"></div>
            <div class="cont">
                <div class="abc">
                    <p class="letter">A</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">B</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">C</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">D</p>
                </div>
                
                <div class="line"></div>
                <div id="optionList">
                    <h4 class='choice_que noBorder' id="opt1"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt2"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt3"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt4"></h4>
                    <div class="height_spacer"></div>
                </div>
            </div>
        </div>

        <div id="answersSection">
            <div class="answers">
                <div class="bgans">
                    <h3 id="total_correct" class="noBorder">0</h3>
                </div>
                <div class="bgbtn" id="next_quest">
                    <h3 class="noBorder">Další</h3>
                </div>
            </div>
        </div>

        
    </div>
    <div class="result hidden">
        <img src="../static/styles/images/logos/trophy.svg" alt="" id="trophy" width="25%" height="25%">
        <h2>Výsledky</h2>
        <p id="points"></p>
        <div class="height_spacer"></div>
        <a class="playagainbtn" id="playagain">Hrát znovu</a>
    </div>
    <div class="height_spacer"></div>
<script src="../static/quiz.js"></script>
<script src="../static/quest.js"></script>
</body>
</html>