<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Scriptos - Netzwe</title>
</head>
<body>
    <h1>DNS</h1>
    <div id="templateline"></div>
    <h5 for="" id="znalosti" class="noBorder"><b>Předpokládané znalosti</b>: základní konfigurace v Packet Traceru</h5>
    <section id="CCNAREq">
        <h5>CCNA požadavky:</h5>
        <ul>
            <li class="req">Umět vysvětlit význam DNS</li>
        </ul>
    </section>
    <section id="uvod">
        <h3 id="problematika">Úvod do problematiky</h3>
        <p>Každá webová stránka, internetová služba je dostupná pomocí své IP adresy. </p>
        <p>Problém však je, že IP adresy jsou těžko zapamatovatelné a jejich užití není tak uživatelsky přívětivé.</p>
        <p>Tento problém právě řeší DNS (Domain Name System) protokol. Ten totiž překládá IP adresy na lidsky snadno zapamatovatelná doménová jména, která tím pádem půjdou použít k přístupu na webové stránky či služby.</p>
    </section>
    <section id="PrincipDNS">
        <h3>Princip DNS</h3>
        <p>DNS je postaveno na tom, že máme nějaký/á zařízení a v tom/těch zařízení je definováno to, že IP adresa je přiřazená k danému doménovému jménu.</p>
        <p>Jako příklad zde nyní můžu uvést situaci, kdy na počítači v naší lokální síti nastavíme, že IP adresa "192.168.0.1" je také označená doménovým jménem "router". Kdybychom poté chtěli ten router pingnout, tak by se nám naskytla příležitost k tomu použít místo IP adresy jeho doménové jméno.</p>
        <p>Na Internetu je však již tento proces poněkud složitější a vyžaduje součinnost několika specifických DNS serverů.</p>
        <p>Příklad:</p>
        <p>PC1 se chce dostat na stránky "www.google.com"</p>
        <p><i>Jak PC1 tedy zjistí IP adresu stránek Googlu?</i></p>
        <p>Za předpokladu, že PC1 nemá k doménovému jménu manuálně přiřazenou IP adresu a v poslední době na googlu nebyl (DNS Cache na PC1), se stane následujicí.</p>
        <ul>
            <li class="ordered">PC1 kontaktuje svého DNS Resolvera (což povětšinou bývá ISP), s dotazem, jestli neví, kde je IP adresa googlu. Jestliže žádný host připojený k tomuto DNS Resolverovi v poslední době na googlu nebyl, tak se DNS Resolver obrátí se stejným dotazem (DNS Query) na Root Name Server.</li>
            <li class="ordered">Root Name Server odkáže DNS Resolver na TLD (Top Level Domain) server. Root Name Servery mají k dispozici informace o všech možných doménách (.com, .net, .org, .cz atd.)</li>
            <li class="ordered">TLD server nás zas odkáže na IP adresu Autoritativního serveru. TLD server obsahuje informace o autoritativních serverech pod danou doménou.</li>
            <li class="ordered">Nakonec DNS Resolver tedy kontaktuje autoritativní server, který již zná IP adresu přiřazenou k domenovému jménu "google.com"</li>
            <li class="ordered">DNS Resolver si pak do své cache dočasně uloží překlad toho doménového jména na IP adresu a samotnou IP adresu poskytne PC1, který tím pádem bude moci navštívit samotnou stránku. Stejně jako DNS Resolver si daný "překlad" ukládá dočasně do své cache.</li>
        </ul>
        <p>K celé této operaci využívá DNS porty <b>TCP a UDP 53</b>. UDP 53 je používáno standardně pro DNS zprávy menší než 512 bytů. TCP 53 pouze pokud je velikost DNS zprávy větší jak 512 bytů.</p>
        <section id="Terminology" class="subSection">
            <h4>Shrnutí DNS Terminologie</h4>
            <ul>
                <li class="req"><b>DNS Query</b> - zpráva, kterou host/DHCP Resolver žádá o IP adresu přidělenou k doménovému jménu.</li>
                <li class="req"><b>DNS Resolver</b> - DNS server na který uživatel posílá DNS Query, pokud doménu nemá ve vlastní cache, tak se po IP adrese ptá dál Root serveru, většinou ISP.</li>
                <li class="req"><b>Root server</b> - Nejvýše postavený server v celé DNS hierarchii, většinou poskytují IP adresu TLD serveru. Celkově jich je na světě 13.</li>
                <li class="req"><b>TLD server</b> - Server, který obsahuje data všech doménových jmen v rámci jedné domény.</li>
                <li class="req"><b>Autoritativní server</b> - Server, jež má aktuální a nejbližší informaci o specifickém doménovém jméně</li>
            </ul>
        </section>
    </section>
    <section id="DNSConfiguration">
        <h3>Konfigurace DNS</h3>
        <p>Příklad: </p>
        <img src="../static/styles/images/DNS/DNS_Configuration.png" alt="DNS Configuration" class="configImage">
        <p>Zprovozni v síti DNS:</p>
        <p class="beforecode">Nejdříve na routeru zprovozníme DNS (povětšinou automaticky zapnuté):</p>
        <pre>R1(config)#ip domain-lookup</pre>
        <p class="beforecode">Dále manuálně na R1 specifikujeme, jakou IP adresu má DNS Resolver:</p>
        <pre>R1(config)#ip name-server 178.241.36.2</pre>
        <p class="beforecode">Nyní nastavíme routeru doménové jméno (to se automaticky připíná k hostname bez domény ping H1 --> ping H1.R1): </p>
        <pre>R1(config)#ip domain-name R1</pre>
        <p class="beforecode">A na konec si lokálně namapujeme IP adresy hostů 1-3 na doménová jména:</p>
        <pre>R1(config)#ip host H1 192.168.0.2
R1(config)#ip host H2 192.168.0.3</pre>
        <p>Konfiguraci DNS v PT si můžete vyzkoušet <a href="../Labs/DNS/DNS.pka">zde</a>.</p>
    </section>
    <section id="Security">
        <h3>DNS a bezpečnostní hrozby</h3>
            <ul>
                <li class="req"><b>DNS Spoofing</b> - Útočník upraví záznamy v DNS Cache. Útok pak může přenést oběť na falešnou kopii stránky, která se vydává za pravou stránku. Prevencí může být například používání DNS Security Extensions.</li>
                <li class="req"><b>DNS Amplification</b> - Útočník zahltí DNS Server dotazy pod IP adresou oběti. Zatížená oběť pak nemůže zpracovávat ostatní požadavky.</li>
                <li class="req"><b>DNS Tunneling</b> - Útočník využije DNS zprávu k poslání škodlivého kódu či dokonce programu. Vzhledem k tomu, že DNS je běžnou součástí každodenního používání Internetu, tak je možný že jej firewall bez potíží propustí dál do sít.</li>
            </ul>
    </section>
    <section id="prehledPrikazu">
        <h3>Přehled příkazů (PT)</h3>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>Příkazy</th>
                        <th>Popis</th>
                        <th>Mód</th>
                    </tr>
                    <tr>
                        <td>ip domain lookup</td>
                        <td>Zprovozní DNS lookup</td>
                        <td>Global Config</td>
                    </tr>
                    <tr>
                        <td>ip name-server {ip_adresa_DNS_serveru}</td>
                        <td>Určí adresu DNS serveru</td>
                        <td>Global Config</td>
                    </tr>
                    <tr>
                        <td>ip domain-name {doménové_jméno}</td>
                        <td>Určí doménové jméno zařízení</td>
                        <td>Global Config</td>
                    </tr>
                    <tr>
                        <td>ip host {doménové_jméno} {ip_adresa_zařízení}</td>
                        <td>Vypne DTP na interfacu</td>
                        <td>Global Config</td>
                    </tr>
                    <tr>
                        <td>ip dns server</td>
                        <td>Udělá ze zařízení DNS Server</td>
                        <td>Global Config</td>
                    </tr>
                </table>
            </div>
    </section>
    <div class="height_spacer"></div>
    <section id="zaver">
        <h3>Závěr</h3>
        <p>DNS nebo-li Domain Name System protokol je jeden z důležitějších protokolů. Slouží k překladu lidsky nečitelných IP adres na lidsky čitelná domenová jména.</p>
        <p>DNS funguje na tom principu že uživatel posílá dotazy (DNS Query) DNS Serveru, zda neví která IP adresa pasuje k danému doménovému jménu.</p>
        <p>DNS používá jak TCP tak UDP porty. Když je DNS Query menší jak 512 bytů, použije UDP 53. Jakmile je však větší než 512 bytů použije TCP 53.</p>
    </section>
    <div class="height_spacer"></div>
    <h3 style="text-align: center;" class="noBorder">Chcete si latku procvičit?</h3>
    <div id="templateline2" style='margin: auto;'></div>
    <div class="height_spacer"></div>
    <div class="btns_quiz">
        <a class="btnquiz" id="play">Hrát</a>
    </div>
    <div class="quiz" id="quiz">
        
        <div class="question" id="question">
            <div class="headerquest">
                <h2 id="questionNo">1.</h2>
                <h2 id="questionText"></h2>
                <div class="timer" id="timer">
                    <h6>čas:&nbsp</h6>
                    
                    <div class="timenum">
                        <div class="line2"></div>
                        <div class="circleback">
                            <h6 id="time">00</h6>
                        </div>
                        <div class="line2"></div>
                    </div>
            </div>
            </div>
        </div>
        <div class="mainer">
            <div class="height_spacer"></div>
            <div class="cont">
                <div class="abc">
                    <p class="letter">A</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">B</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">C</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">D</p>
                </div>
                
                <div class="line"></div>
                <div id="optionList">
                    <h4 class='choice_que noBorder' id="opt1"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt2"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt3"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt4"></h4>
                    <div class="height_spacer"></div>
                </div>
            </div>
        </div>

        <div id="answersSection">
            <div class="answers">
                <div class="bgans">
                    <h3 id="total_correct" class="noBorder">0</h3>
                </div>
                <div class="bgbtn" id="next_quest">
                    <h3 class="noBorder">Další</h3>
                </div>
            </div>
        </div>

        
    </div>
    <div class="result hidden">
        <img src="../static/styles/images/logos/trophy.svg" alt="" id="trophy" width="25%" height="25%">
        <h2>Výsledky</h2>
        <p id="points"></p>
        <div class="height_spacer"></div>
        <a class="playagainbtn" id="playagain">Hrát znovu</a>
    </div>
    <div class="height_spacer"></div>
<script src="../static/quiz.js"></script>
<script src="../static/quest.js"></script>
</body>
</html>