<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Scriptos - Netzwe</title>
</head>
<body>
    <h1>FHRP</h1>
    <div id="templateline"></div>
    <h5 for="" id="znalosti" class="noBorder"><b>Předpokládané znalosti</b>: Základní znalost PT, STP & Etherchannel, základy IPv4, VLANy</h5>
    <section id="CCNAREq">
        <h5>CCNA požadavky:</h5>
        <ul>
            <li class="req">Umět popsat účel a fungování FHRPs</li>
        </ul>
    </section>
    <section id="uvod">
        <h3 id="problematika">Úvod do problematiky - Redundance a výchozí brána</h3>
        <p>Enterprise sítě, datová centra atp. může stát každý výpadek připojení k Internetu statisíce, proto je nutné dbát na to, aby takové sítě byly <a href="https://www.sprava-site.eu/redundance/">redundatní</a>.</p>
        <p>Za redundantní síť můžeme považovat tu síť, kde při poruše 1 prvku nedojde k většímu omezení, potažmo úplné ztráty připojení k Internetu, významné části sítě. Cílem redundantních sítí je právě minimalizovat dopady závad prvků sítě (Platí, že čím méně zařízení je ovlivněno poruchou jednoho prvku, tím lépe => menší ztráta zisku pro firmu).</p>
        <p>Příkladem sítě, která není redundantní může být tato:</p>
        <img src="../static/styles/images/FHRP/NonrendundantNet.png" alt="Non-redundant network example" class="configImage">
        <p>Potenciální výpadek R1, SW1 (a médii mezi nimi) totiž ohrozí velkou část sítě a postihne všechny hosty a servery.</p>
        <p>Naštěstí jsou tyto sítě snadno přeměnitelné na redundantní.</p>
        <p><i>Ptáte se jak?</i></p>
        <p>Nejdříve je třeba najít potenciální prvek v síti, jehož výpadkem by byla ohrožená konektivita části sítě.</p>
        <p>Kdybychom tedy měli takto analyzovat síť z předešlého obrázku, všimli bychom si, že takovými prvky jsou R1 a SW1. SW2 zde v tomto případě za velkou hrozbu nepovažujeme, protože jeho porucha by ohrozila pouze 2 hosty, který by se za předpokladu, že nemají více síťových karet, stejně nedalo moc dělat.</p>
        <p>Nyní, když máme určené problematická zařízení, si řešení rozdělíme na dvě části.</p>
        <p>První se bude týkat L2 zařízení. Jestliže je tedy potenciálním prvkem, jehož výpadek by ohrozil značnou část sítě, switch, tak přidáme do sítě další takové zařízení.</p>
        <p>Při změně na L2 by tedy síť nově vypadala nějak takto: </p>
        <img src="../static/styles/images/FHRP/L2RedundantNet1.png" alt="L2 Redundant network" class="configImage">
        <p>Když v tomto případě přidáme pouze jeden další switch, nějak zvlášť extra si nepomůžeme. Díky této změně se akorát tak změní prvek, kterým se teda tentokrát stál nově přidaný switch (To, jestli se hosti připojí k internetu, totiž bude záležet na novém switchi a R1).</p>
        <p>Proto přidáme do sítě další switche, které tentokrát budou odkazovat k dalšímu L3 zařízení.</p>
        <img src="../static/styles/images/FHRP/L3RedundantNet.png" alt="L3 Redundant network" class="configImage">
        <p>Na L3 nám však pouhé přidání dalšího routeru stačit nebude.</p>
        <p>Proč?</p>
        <p>Pokud chceme posílat data na Internet, musí mít zařízení nakonfigurovanou adresu výchozí brány. Ta se dá bohužel nakonfigurovat pouze jedna, tudíž by se při výpadku toho "aktivního" routeru musela řučně obejít všechna zařízení či by se musela upravit konfigurace DHCP.</p>
        <p>Naštěstí pro nás existuje mnohem lepší a efektivnější řešení v podobě First Hop Redundancy protokolů.</p>
    </section>
    <section id="FHRP">
        <h3>FHRP</h3>
        <p>Jako FHRP, First Hop Redundancy Protocol je označovaná skupina protokolů, které reagují na problematiku redundantní L3.</p>
        <p>Problematiku redundantní L3 řeší tím, že umožňují skupině dvou či více routerů přidělit jednu společnou virtuální IP adresu.</p>
        <p>Ta pak slouží jako výchozí brána pro hosty. Díky tomu může jeden router nahradit toho druhého bez toho aniž by se musela změnit síťová konfigurace hostů.</p>
        <section id="HowFHRPwork" class="subSection">
            <h4>Princip FHRP</h4>
            <p>Po konfiguraci FHRP na všech routerech, během níž se určí jedna společná IP adresa, si mezi sebou routery určí, který z routerů bude ten <b>aktivní</b> (active) a kdo bude ten <b>záložní</b> (standby).</p>
            <p>To, podle čeho si to routery mezi sebou určí, přímo záleží na vybraném FHRP.</p>
            <p>Za aktivního routera považujeme ten router, který se aktivně chová jako výchozí brána a přes který hosti posílají pakety na Internet.</p>
            <p>Záložní router je pak zas ten router, jež se standardně nechová jako výchozí brána, ale při výpadku aktivního routeru jej dokáže nahradit a stane se aktivním.</p>
            <p>Jakmile je jasné, kdo je kdo, začnou si mezi sebou routery posílat multicasty (multicast je zpráva, která se pošle vybrané skupině zařízení), aby zjistili zda aktivní router stále běží.</p>
            <p>Když aktivní router vypadne, přestane komunikovat s druhým routerem a aktivní roli přebírá jeden z dosud záložních routerů.</p>
            <p>Na to, aby se záložní router stal aktivním routerem, potřebuje změnit MAC adresovou tabulku na switchích. To provede tím, že pošle gratuitous ARP zprávu (Gratuitous ARP zpráva je ARP reply zpráva, která se pošle bez toho aniž by o někdo žádal.</p>
        </section>
        <section id="PracticalFHRP" class="subSection">
            <h4>Praktická ukázka fungování FHRP</h4>
            <p>Máme následujicí síť:</p>
            <img src="../static/styles/images/FHRP/FHRP1.png" alt="FHRP1" class="configImage">
            <p>Všichni hosti mají nastavený jako výchozí bránu R1 (192.168.0.1).</p>
            <p>Pokud nastavíme FHRP, nastane nejdříve volba aktivního routeru (Active, Master, AVG) a záložního routeru (Standby, Backup, AVF).</p>
            <p>V našem případě se stane aktivním routerem R2 a záložním routerem R1. Tyto dva routery budou mít společnou virtuální IPv4 adresu - 192.168.0.253. U hosté také nezapomeňme ručně změnit výchozí bránu (ať už staticky či přes změnu konfigurace DHCP).</p>
            <img src="../static/styles/images/FHRP/FHRP2.png" alt="FHRP2" class="configImage">
            <p>Nyní si mezi sebou až do výpadu budou vyměňovat pakety, kterýma si ověřují, že stále ještě jeden a ten druhý "žije".</p>
            <p>Při výpadku aktivního routeru (R2) R1 pozná, že R2 je "kaput" a posláním Gratuitous ARPu informuje switche o tom, že on je teď nyní aktivním routerem a že používá IP adresu 192.168.0.253.</p>
            <img src="../static/styles/images/FHRP/FHRP3.png" alt="FHRP3" class="configImage">
            <p>Jestliže dojde k vzpamatování R2, stane se záložním routerem.</p>
            <img src="../static/styles/images/FHRP/FHRP4.png" alt="FHRP4" class="configImage">
        </section>
        <p>Jak již bylo zmíněno na začátku této sekce, FHRP je skupina protokolů, který řeší problematiku redundantní L3.</p>
        <p>Jmenovitě do FHRP skupiny protokolů patří: </p>
        <ul>
            <li class="req"><b>HSRP</b> - Hot Standby Redundancy Protocol</li>
            <li class="req"><b>GLBP</b> - Gateway Load Balancing Protocol</li>
            <li class="req"><b>VRRP</b> - Virtual Router Redundancy Protocol</li>
        </ul>
        <p>Tyto protokoly se mezi sebou liší například v terminologii (Active/Standby X Master/Backup X AVG/AVF), vývojáři (Cisco propriétární X IETF) a v drobnostech z hlediska fungování (hlavně HSRP, VRRP X GLBP).</p>
        <p>Pro CCNA není třeba znát konfigurace.</p>
    </section>
    <section id="HSRP">
        <h3>HSRP</h3>
        <p>HSRP, Hot Standby Redundancy Protocol je propriétární protokol společnosti Cisco.</p>
        <p>Aktivní router názývá <b>"Active"</b> a záložní <b>"Standby"</b>.</p>
        <p>HSRP vybírá aktivní router na základě priority a v případě stejné priority na všech HSRP routerech ve stejné skupině na základě nejvyšší nastavené IP adrese na routeru.</p>
        <p>HSRP dokáže loadbalancovat provoz pouze v rámci vlan.</p>
        <p>HSRP <b>nemůže</b> použít IP adresu, kterou má router nakonfigurovanou na svém interfacu.</p>
        <p>Tento protokol má 2 verze - HSRPv1 a HSRPv2. Ty se kromě lepší stabilizace od sebe liší napříkald v počtu povolených HSRP skupin, multicastové IP adrese a virtuální MAC adrese.</p>
        <div class="overflowTable">
            <table>
                <tr>
                    <th>HSRP verze</th>
                    <th>Multicastová IPv4 adresa</th>
                    <th>Virtuální MAC adresa</th>
                    <th>Počet povolených HSRP Skupin</th>
                </tr>
                <tr>
                    <td>HSRPv1</td>
                    <td>224.0.0.2</td>
                    <td>0000.0c07.acXX (XX je číslo skupiny)</td>
                    <td>256</td>
                </tr>
                <tr>
                    <td>HSRPv2</td>
                    <td>224.0.0.102</td>
                    <td>0000.0c9f.fXXX (XXX je číslo skupiny)</td>
                    <td>4096</td>
                </tr>
            </table>
        </div>
        <p>HSRP funguje tak, jak bychom od FHRP čekali - </p>
        <ul>
            <li class="ordered">Nejdříve se za pomoci priority či nejvyšší IP adresy routeru určí Active a Standby router.</li>
            <li class="ordered">Active router bude používat virtuální IP a MAC adresu, standby router bude trpělivě čekati, než active router vypadne.</li>
            <li class="ordered">V pozadí si mezi sebou active a standby router periodicky posílají HSRP hello zprávy. Těmito zprávami si říkají, že stále ještě fungují.</li>
            <li class="ordered">Při výpadku aktivního routeru přestane posílat HSRP hello zprávy a dojde k vypršení tzv. holdtime časovače. Pokud dojde k vypršení holdtime časovače, standby router přebírá roli aktivního routera.</li>
            <li class="ordered">Aby standby router přebral roli aktivního routera, musí do sítě vyslat Gratuitous ARP, pomocí něhož řekne switchům, že mají aktualizovat své MAC adres tabulky, tak aby k němu mohly dojít pakety od hostů.</li>
            <li class="ordered">Pozn. je možné nastavit to, aby bývalý aktivní router po znovunahození přebral roli aktivního routera - preemptive nastavení.</li>
        </ul>
        <section id="HSRPConfiguration" class="subSection">
            <h4>Konfigurace HSRP</h4>
            <p>Příklad: Aktivuj na routerech R1, R2, R3 HSRP s následujicími pravidly - </p>
            <p>Číslo skupiny bude 24.</p>
            <p>Bude se používat HSRPv2.</p>
            <p>Virtuální IP adresa bude 192.168.0.253.</p>
            <p>R2 bude aktivní router a v případě opravy poruchy se vždy znovu zhostí aktivní role.</p>
            <img src="../static/styles/images/FHRP/HSRP1.png" alt="HSRP Konfigurace" class="configImage">
            <p class="beforecode">Prvně nastavíme verzi HSRP, na všech routerech musí být verze stejná - </p>
            <pre>R1(config)#interface g0/0
R1(config-if)#standby version 2
R2(config)#interface g0/0
R2(config-if)#standby version 2
R3(config)#interface g0/0
R3(config-if)#standby version 2</pre>
            <p class="beforecode">Dále budeme s konfigurací pokračovat na R2, kde nejdříve povolíme HSRP - </p>
            <pre>R2(config-if)#standby 24 ip 192.168.0.253</pre>
            <p class="beforecode">Poté nakonfigurujeme prioritu k tomu, aby se z R2 stal aktivní router (Platí, že čím vyšší priorita, tím větší šance, že R2 bude aktivní router) - </p>
            <pre>R2(config-if)#standby 24 priority 255</pre>
            <p class="beforecode">Nakonec na R2 nakonfigurujeme to, že se v případě opravy poruchy stane R2 znovu aktivním routerem -</p>
            <pre>R2(config-if)#standby 24 preempt</pre>
            <p class="beforecode">Nyní nakonfigurujeme R1 a R3, kde pouze povolíme HSRP - </p>
            <pre>R1(config-if)#standby 24 ip 192.168.0.253
R2(config-if)#standby 24 ip 192.168.0.253</pre>
            <p class="beforecode">Ověření toho, zda jsme HSRP nakonfigurovali správně provedeme pomocí příkazů - </p>
            <pre>R2#show standby
R2#show standby brief</pre>
            <p>Kdy příkaz <i>show standby</i> nám ukáže konfiguraci HSRP více dopodrobna zatímco <i>show standby brief</i> nám ukáže z dané konfigurace to nejpodstatnější.</p>
            <p>Konfiguraci HSRP si můžete vyzkoušet <a href="../Labs/FHRP/HSRP_SPINELEAF.pka">zde</a>.</p>
        </section>
    </section>
    <section id="GLBP">
        <h3>GLBP</h3>
        <p>GLBP nebo-li Gateway Load Balancing Protocol je stejně jako HSRP Cisco propriétární protokol.</p>
        <p>Možná si říkáte, proč by Cisco mělo 2 protokoly, které dělají to samé?</p>
        <p>GLBP je totiž oproti HSRP zaměřený, jak už z názvu vyplývá, na loadbalancing a dokáže loadbalancovat provoz i v rámci jedné podsítě.</p>
        <p>Mezi routery se volí AVG (Active Virtual Gateway), ostatní jsou AVF (Active Virtual Forwarder).</p>
        <p>AVG může být zároveň i AVF</p>
        <p>Pro posílání IPv4 multicastových zpráv používá adresu: 224.0.0.102 (Ano, stejnou jako HSRP).</p>
        <p>Jako virtuální MAC adresu používají: 0007.6400.XXYY, kdy XX je číslo GLBP skupiny a YY je číslo AVF.</p>
        <section id="HowGLBPworks" class="subSection">
            <h4>Jak GLBP funguje?</h4>
            <p>Routery si mezi ve skupině zvolí AVG - Active Virtual Gateway. Až 4 routery se stanou AVF - Active Virtual Forwarder, zbytek bude záložní.</p>
            <p>Když host pošle ARP zprávu aby získal MAC adresu výchozí brány, dostane se na AVG, které hostovi přidělí MAC adresu jedné z aktivní AVF. Host poté bude všechny zprávy mimo síť posílat na danou AVF.</p>
            <p>Zkusme si to ilustrovat na příkladu - </p>
            <p>Máme tuto síť:</p>
            <img src="../static/styles/images/FHRP/GLBP_Explain1.png" alt="GLBP Explain 1" class="configImage">
            <p>V síti nastavíme GLBP (ve skupině 15), kdy R1 bude AVG (a zároveň AVF) a ostatní pouze AVF.</p>
            <p>Virtuální IP adresa bude 192.168.0.253</p>
            <p>Pokud se host 1 bude snažit poslat něco přes výchozí bránu, bude potřebovat zjistit MAC adresu výchozí brány. Na ARP request odpoví R1.</p>
            <p>R1 přidělí hostu 1 samo sebe jako AVF, pošle mu MAC adresu 0007.6400.0F01 Host 1 bude tedy brát R1 jako svoji výchozí bránu.</p>
            <p>Když se host 2 bude snažit poslat něco přes výchozí bránu, zeptá se stejně jako host 1 AVG, jakou MAC adresu má výchozí brána, AVG mu pošle MAC adresu R2 (0007.6400.0F02).</p>
            <p>Jestliže by se stalo, že by R2 selhalo, tak by jej nahradilo R3 či případně R1. Pokud by selhalo AVG, zvolí se nový AVG a síť bude fungovat dál.</p>
        </section>
        <section id="GLBPConfiguration" class="subSection">
            <h4>Konfigurace GLBP</h4>
            <p>Upozornění: GLBP nejde nastavit v Packet Traceru!</p>
            <p>Aktivuj v následujicí síti 192.168.0.0/24 GLBP na routerech R1, R2 a R3.</p>
            <p>Udělej z R1 AVG.</p>
            <p>Virtuální IP adresa bude 192.168.0.253</p>
            <img src="../static/styles/images/FHRP/GLBP1.png" alt="GLBP Configuration" class="configImage">
            <p class="beforecode">Začněme tím, že vytvoříme glbp skupinu 15 na R1:</p>
            <pre>R1(config)#interface gig0/0
R1(config-if)#glbp 15 ip 192.168.0.253</pre>
            <p class="beforecode">Vzhledem k tomu, že chceme, aby glbp bylo AVG, nastavíme i prioritu, platí zde pravidlo, že čím vyšší priorita, tím větší šance, že se router stane AVG, standardní priorita je jinak 100.</p>
            <pre>R1(config-if)#glbp 15 priority 255</pre>
            <p class="beforecode">Poté ještě na R1 nastavíme to, že pokud náhodou selže a jiný router převezme roli AVG, tak R1 se po nahození automaticky znovu stane AVG.</p>
            <pre>R1(config-if)#glbp 15 preempt</pre>
            <p class="beforecode">Pro kontrolu konfigurace glbp můžeme použít příkaz - </p>
            <pre>R1#show glbp</pre>
            <p class="beforecode">Na R2 a R3 pak nastavíme:</p>
            <pre>R2(config)#interface g0/0
R2(config-if)#glbp 15 ip 192.168.0.253
R3(config)#interface g0/0
R3(config-if)#glbp 15 ip 192.168.0.253</pre>
        </section>
    </section>
    <section id="VRRP">
        <h3>VRRP</h3>
        <p>VRRP, také jako Virtual Router Redundancy Protocol, je protokol od IETF (Internet Engineering Task Force) - není proprietární.</p>
        <p>Funguje na velmi podobném principu jako HSRP.</p>
        <p>Aktivní router VRRP označuje klíčovým slovem "Master", jako záložní router "Backup".</p>
        <p>VRRP určuje master router podle priority a nejvyšší nakonfigurované IP adresy na routeru (čím vyšší, tím lepší).</p>
        <p>Jako multicastovou IP adresu používá: <b>224.0.0.18</b>.</p>
        <p>Jeho virtuální MAC adresa je: 0000.5E00.01XX, kdy XX značí VRRP skupinu.</p>
        <p>Dalším rozdíl oproti HSRP je ten, že VRRP nám umožňuje použít jako virtuální IP adresu i tu, která již je nakonfigurovaná na interfacu jednoho z routerů.</p>
        <p>VRRP má automaticky zapnuto to, že se porouchaný aktivní router při znovunasazení ujme své role aktivního routeru.</p>
        <p>Loadbalancuje provoz pouze v rámci VLAN.</p>
        <section id="VRRPConfiguration">
            <h4>Konfigurace VRRP</h4>
            <p>Upozornění: VRRP nejde nastavit v Packet Traceru!</p>
            <p>Příklad: Nakonfiguruj v této síti VRRP s následujicími pravidly - </p>
            <p>Číslo VRRP skupiny bude 10.</p>
            <p>Virtuální IP adresa bude IP adresa R1 (192.168.0.1)</p>
            <p>Master router bude R1.</p>
            <img src="../static/styles/images/FHRP/VRRP1.png" alt="VRRP Configuration" class="configImage">
            <p class="beforecode">Prvně VRRP zapneme nakonfigurujeme R1 - </p>
            <pre>R1(config)#interface g0/0
R1(config-if)#vrrp 10 ip 192.168.0.1</pre>
            <p class="beforecode">Dále na R1 nakonfigurujeme prioritu - </p>
            <pre>R1(config-if)#vrrp 10 priority 255</pre>
            <p class="beforecode">Teď VRRP nastavíme na R2 a R3 - </p>
            <pre>R2(config)#interface g0/0
R2(config-if)#vrrp 10 ip 192.168.0.1
R3(config)#interface g0/0
R3(config-if)#vrrp 10 ip 192.168.0.1</pre>
            <p class="beforecode">Konfiguraci VRRP si můžeme zkontrolovat pomocí příkazů - </p>
            <pre>R1#show vrrp
R1#show vrrp brief</pre>
            <p>Příkaz <i>show vrrp</i> nám zobrazí konfiguraci VRRP dopodrobna, oproti tomu <i>show vrrp brief</i> pouze to nejpodstatnější.</p>
        </section>
    </section>
    <section id="prehledPrikazu">
        <h3>Přehled příkazů (PT)</h3>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>Příkazy</th>
                        <th>Popis</th>
                        <th>Mód</th>
                    </tr>
                    <tr>
                        <td>standby {skupina} ip {virtuální IP adresa}</td>
                        <td>Zapne HSRP</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>standby version {1,2}</td>
                        <td>Přepne na danou verzi HSRP</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>standby {skupina} priority {0-255}</td>
                        <td>Určí prioritu routeru</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>standby {skupina} preempt</td>
                        <td>Aktivuje to, že bývalý aktivní router se po opravě znovu stane aktivním</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>glbp {skupina} ip {virtuální IP adresa}</td>
                        <td>Zapne GLBP</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>glbp {skupina} priority {0-255}</td>
                        <td>Určí prioritu routeru</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>glbp {skupina} preempt</td>
                        <td>Aktivuje to, že bývalý aktivní router se po opravě znovu stane aktivním</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>vrrp {skupina} ip {virtuální IP adresa}</td>
                        <td>Zapne VRRP</td>
                        <td>Interface</th>
                    </tr>
                    <tr>
                        <td>vrrp {skupina} priority {0-255}</td>
                        <td>Určí priortu routeru</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>vrrp {skupina} preempt</td>
                        <td>Aktivuje to, že bývalý aktivní router se po opravě znovu stane aktivním</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>show hsrp</td>
                        <td>Zobrazí podrobně infromace o HSRP</td>
                        <td>Priviledged EXEC</td>
                    </tr>
                    <tr>
                        <td>show hsrp brief</td>
                        <td>Zobrazí zkráceně informace o HSRP</td>
                        <td>Priviledged EXEC</td>
                    </tr>
                    <tr>
                        <td>show glbp</td>
                        <td>Zobrazí podrobně infromace o GLBP</td>
                        <td>Priviledged EXEC</td>
                    </tr>
                    <tr>
                        <td>show glbp brief</td>
                        <td>Zobrazí zkráceně informace o GLBP</td>
                        <td>Priviledged EXEC</td>
                    </tr>
                    <tr>
                        <td>show vrrp</td>
                        <td>Zobrazí podrobně infromace o VRRP</td>
                        <td>Priviledged EXEC</td>
                    </tr>
                    <tr>
                        <td>show vrrp brief</td>
                        <td>Zobrazí zkráceně informace o VRRP</td>
                        <td>Priviledged EXEC</td>
                    </tr>
                </table>
            </div>
    </section>
    <div class="height_spacer"></div>
    <section id="zaver">
        <h3>Závěr</h3>
        <p>Redundantnost je velmi důležitý prvek sítě, do kterého bychom měli v případě plánovaní enterprise sítě či datového centra investovat. Zaručí nám to, že porucha jednoho zařízení v sítí nám nezpůsobí kolaps velké části sítě.</p>
        <p>Síť uděláme redundantní tím, že tyto zařízení, které by svoji poruchou omezeli velkou část sítě, identifikujeme a přidáme další zařízení, která budou moci být v případě kolapsu původních zařízení využita.</p>
        <p>Na L3 nám ale nastává problém, protože hosti mají jako router nakonfigurovanou výchozí bránu, která nemůže být bez nějaké další konfigurace jen tak lehce při poruše změněna (bez manuálního zásahu, který by nebyl ve větších sítích výkonně možný).</p>
        <p>Tento problém výchozí brány se dá ale snadno obejít pomocí FHRP - First Hop Redundancy Protokolů.</p>
        <p>Tyto protokoly nám umožní udělat skupinu routerů, která bude používat jednu společnou virtuální IP a MAC adresu. Jeden router bude tuto virtuální IP & MAC adresu využívat, zatímco ti ostatní budou bedlivě čekat na to, až se aktivnímu routeru něco přihodí a budou moci převzít jeho roli.</p>
        <p>Pro CCNA úroveň je třeba znát alespoň jménem 3 protokoly - HSRP, GLBP a VRRP.</p>
        <p>HSRP, také označován jako Hot Standby Redundancy Protocol, je protokol od společnosti Cisco. V terminologii používá výrazy Active/Standby.</p>
        <p>GLBP, Gateway Load Balancing Protocol, je Cisco propriétární protokol, oproti HSRP je více zaměřený na loadbalancing a je schopný loadbalancovat provoz i v rámci jedné podsítě. Používá výrazy AVG/AVF.</p>
        <p>VRRP, nebo-li Virtual Router Redundancy Protocol, ve srovnání s HSRP a GLBP není proprietární. Je velmi podobný HSRP a liší se od toho protokolu v drobnostech - používá termíny Master/Backup a je schopný použít nakonfigurovanou IP adresu na interfacu jednoho z routerů jako virtuální IP adresu.</p>
    </section>
    <div class="height_spacer"></div>
    <h3 style="text-align: center;" class="noBorder">Chcete si latku procvičit?</h3>
    <div id="templateline2" style='margin: auto;'></div>
    <div class="height_spacer"></div>
    <div class="btns_quiz">
        <a class="btnquiz" id="play">Hrát</a>
    </div>
    <div class="quiz" id="quiz">
        
        <div class="question" id="question">
            <div class="headerquest">
                <h2 id="questionNo">1.</h2>
                <h2 id="questionText"></h2>
                <div class="timer" id="timer">
                    <h6>čas:&nbsp</h6>
                    
                    <div class="timenum">
                        <div class="line2"></div>
                        <div class="circleback">
                            <h6 id="time">00</h6>
                        </div>
                        <div class="line2"></div>
                    </div>
            </div>
            </div>
        </div>
        <div class="mainer">
            <div class="height_spacer"></div>
            <div class="cont">
                <div class="abc">
                    <p class="letter">A</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">B</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">C</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">D</p>
                </div>
                
                <div class="line"></div>
                <div id="optionList">
                    <h4 class='choice_que noBorder' id="opt1"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt2"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt3"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt4"></h4>
                    <div class="height_spacer"></div>
                </div>
            </div>
        </div>

        <div id="answersSection">
            <div class="answers">
                <div class="bgans">
                    <h3 id="total_correct" class="noBorder">0</h3>
                </div>
                <div class="bgbtn" id="next_quest">
                    <h3 class="noBorder">Další</h3>
                </div>
            </div>
        </div>

        
    </div>
    <div class="result hidden">
        <img src="../static/styles/images/logos/trophy.svg" alt="" id="trophy" width="25%" height="25%">
        <h2>Výsledky</h2>
        <p id="points"></p>
        <div class="height_spacer"></div>
        <a class="playagainbtn" id="playagain">Hrát znovu</a>
    </div>
    <div class="height_spacer"></div>
<script src="../static/quiz.js"></script>
<script src="../static/quest.js"></script>
</body>
</html>
