<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Scriptos - Netzwe</title>
</head>
<body>
    <h1>FTP</h1>
    <div id="templateline"></div>
    <h5 for="" id="znalosti" class="noBorder"><b>Předpokládané znalosti</b>: základní konfigurace v Packet Traceru</h5>
    <section id="CCNAREq">
        <h5>CCNA požadavky:</h5>
        <ul>
            <li class="req">Umět vysvětlit význam FTP/TFTP</li>
        </ul>
    </section>
    <section id="uvod">
        <h3 id="problematika">Úvod do problematiky</h3>
        <p>Cisco IOS není dokonalý a někdy se stane, že se v něm objeví chyba, kterou je nutné bezokladně napravit novou verzí.</p>
        <p><i>Jenže jak se tam ta nová verze nahraje?</i></p>
        <p>Právě k tomuto účelu slouží FTP a TFTP protokol.</p>
        <p>FTP nebo-li File Transport Protocol, je protokol, který se používá pro přenos dat mezi FTP serverem a klientem.</p>
    </section>
    <section id="PrincipFTP">
        <h3>Princip FTP</h3>
        <p>Pro umožnění přenosu dat, je nejprve důležité navázat TCP relaci pomocí TCP 3-way handshaku (Na to se používá <b>TCP port 20</b>).</p>
        <p>Jakmile se naváže TCP spojení, je nutné, aby se klient přihlásil. Je nutné zde zmínit to, že komunikace přes FTP protokol není žádným způsobem zašifrovaná, a veškerý přenos je v plaintextu. Přihlášování nám pouze dovolí omezit určitým uživatelům přístup do specifických složek a také jim může znemožnit například mazat obsah FTP serveru.</p>
        <p>Když je klient přihlášený, může si na FTP server libovolně <b>procházet, vytvářet, mazat, či upravovat soubory či složky</b>. Na přenos souborů mezi klientem a serverem se používá port <b>TCP 21</b>.</p>
    </section>
    <section id="FTPModes">
        <h3>FTP Módy</h3>
        <p>Klient může s FTP serverem komunikovat:</p>
        <ul>
            <li class="req"><b>Aktivně</b> - Klient inicializuje celou komunikace, server začíná TCP 3-way handshake. Používá se v LAN</li>
            <li class="req"><b>Pasivně</b> - Klient začíná TCP 3-way handshake, používá se většinou při komunikaci s FTP serverem mimo LAN (Firewall by nedovolil serveru začít TCP 3-way handshake)</li>
        </ul>
    </section>
    <section id="FTPConfiguration">
        <h3>Použití FTP k aktualizování IOSu</h3>
        <p>Máme následujicí situaci - chceme upgradovat IOS na nejnovější verzi 15.7.3M8.</p>
        <img src="../static/styles/images/FTP/FTP_Configuration.png" alt="FTP Konfigurace" class="configImage">
        <p>Nejnovější verze je nahraná na našem lokálním FTP serveru s IP adresou 192.168.0.2.</p>
        <p>Přihlašovací údaje jsou admin/admin123.</p>
        <p class="beforecode">Nejdříve na R1 specifikujeme přihlašovací údaje:</p>
        <pre>R1(config)#ip ftp username admin
R1(config)#ip ftp password admin123</pre>
        <p class="beforecode">Ještě předtím než stáhneme IOS z FTP serveru, je dobré si tam nahrát stávající verzi IOSu, to uděláme pomocí příkazu:</p>
        <pre>R1#copy flash:c2900-universalk9-mz.SPA.156-3.M9.bin ftp:c2900-universalk9-mz.SPA.156-3.M9.bin</pre>
        <p class="beforecode">Nyní přetáhneme novou verzi z FTP serveru - </p>
        <pre>R1#copy ftp:c2900-universalk9-mz.SPA.157-3.M8.bin flash:c2900-universalk9-mz.SPA.157-3.M8.bin</pre>
        <p class="beforecode">Novou verzi pak stačí pouze nabootovat a restartovat systém - </p>
        <pre>R1(config)#boot system flash:c2900-universalk9-mz.SPA.157-3.M8.bin
R1#reload</pre>
        <p class="beforecode">Nyní by se R1 mělo nabootovat s novou verzí - to koneckonců můžeme po nabootování zkontrolovat - </p>
        <pre>R1#show version</pre>
    </section>
    <section id="TFTP">
        <h3>TFTP</h3>
        <p>TFTP byl vyvinut po FTP a je určený k pouhému přenosům dat, čili neumožňuje například mazání obsahu, procházení obsahu atd.</p>
        <p>TFTP používá <b>UDP port 69</b>. Použití UDP by vám mělo naznačit, že protokol nebude spolehlivý, nicméně TFTP zaručí spolehlivost svým způsobem. K tomu, aby TFTP byl spolehlivý využívá techniku potvrzování zpráv, kdy zařízení pošle ACK zprávu po tom, co obdrželo daná data od druhého zařízení. Zařízení má na odpověď určitý čas, pokud ten čas vypršel, tak druhé zařízení posílá danou zprávu znova.</p>
    </section>
    <section id="otherFTP">
        <p>Za tu dobu, co FTP existuje, vzniklo mnoho dalších variant - </p>
        <ul>
            <li class="req">FTPS - FTP Secure</li>
            <li class="req">SFTP - SSH File Transfer Protocol</li>
        </ul>
    </section>
    <section id="prehledPrikazu">
        <h3>Přehled příkazů (PT)</h3>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>Příkazy</th>
                        <th>Popis</th>
                        <th>Mód</th>
                    </tr>
                    <tr>
                        <td>vlan {vlan-id}</th>
                        <td>Vytvoří VLAN a přepne do VLAN interfacu</td>
                        <td>Global Config</td>
                    </tr>
                    <tr>
                        <td>name {vlan-name}</td>
                        <td>Pojmenuje VLAN</td>
                        <td>VLAN interface</td>
                    </tr>
                    <tr>
                        <td>switchport mode {access | trunk | dynamic desirable | dynamic auto}</th>
                        <td>Přepne interface do modu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>switchport nonegotiate</th>
                        <td>Vypne DTP na interfacu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>switchport access vlan {vlan-id}</td>
                        <td>Přiřadí VLANu k danému interfacu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>switchport trunk encapsulation {protocol}</th>
                        <td>Nastaví trunking protokol na switchi</td>
                        <td>Global Config</td>
                    </tr>
                    <tr>
                        <td>switchport trunk native vlan {vlan-id}</th>
                        <td>Nastaví Native VLAN</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>switchport trunk allowed vlan {add | all | except | remove} {vlan-id}</th>
                        <td>Nastaví povolené VLANy na trunku</th>
                        <td>Interface</th>
                    </tr>
                    <tr>
                        <td>encapsulation dot1q {VLAN_ID}</th>
                        <td>Nastaví sub interface pro danou VLAN</th>
                        <td>router - sub interface</th>
                    </tr>
                    <tr>
                        <td>vtp mode {transparent | off}</th>
                        <td>Vypne VTP</th>
                        <td>Global Config</th>
                    </tr>
                    <tr>
                        <td>show interfaces switchport</td>
                        <td>Zobrazí informace o interfaci</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show interfaces {interface-id} trunk</td>
                        <td>Zobrazí informace o truncích</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show vlan brief</td>
                        <td>Zobrazí informace o VLAN</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show vtp status</td>
                        <td>Zobrazí informace o VTP</td>
                        <td>EXEC</td>
                    </tr>
                </table>
            </div>
    </section>
    <div class="height_spacer"></div>
    <section id="zaver">
        <h3>Závěr</h3>
    </section>
    <div class="height_spacer"></div>
    <h3 style="text-align: center;" class="noBorder">Chcete si latku procvičit?</h3>
    <div id="templateline2" style='margin: auto;'></div>
    <div class="height_spacer"></div>
    <div class="btns_quiz">
        <a class="btnquiz" id="play">Hrát</a>
    </div>
    <div class="quiz" id="quiz">
        
        <div class="question" id="question">
            <div class="headerquest">
                <h2 id="questionNo">1.</h2>
                <h2 id="questionText"></h2>
                <div class="timer" id="timer">
                    <h6>čas:&nbsp</h6>
                    
                    <div class="timenum">
                        <div class="line2"></div>
                        <div class="circleback">
                            <h6 id="time">00</h6>
                        </div>
                        <div class="line2"></div>
                    </div>
            </div>
            </div>
        </div>
        <div class="mainer">
            <div class="height_spacer"></div>
            <div class="cont">
                <div class="abc">
                    <p class="letter">A</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">B</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">C</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">D</p>
                </div>
                
                <div class="line"></div>
                <div id="optionList">
                    <h4 class='choice_que noBorder' id="opt1"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt2"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt3"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt4"></h4>
                    <div class="height_spacer"></div>
                </div>
            </div>
        </div>

        <div id="answersSection">
            <div class="answers">
                <div class="bgans">
                    <h3 id="total_correct" class="noBorder">0</h3>
                </div>
                <div class="bgbtn" id="next_quest">
                    <h3 class="noBorder">Další</h3>
                </div>
            </div>
        </div>

        
    </div>
    <div class="result hidden">
        <img src="../static/styles/images/logos/trophy.svg" alt="" id="trophy" width="25%" height="25%">
        <h2>Výsledky</h2>
        <p id="points"></p>
        <div class="height_spacer"></div>
        <a class="playagainbtn" id="playagain">Hrát znovu</a>
    </div>
    <div class="height_spacer"></div>
<script src="../static/quiz.js"></script>
<script src="../static/quest.js"></script>
</body>
</html>