<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Scriptos - Netzwe</title>
</head>
<body>
    <h1>IPv6</h1>
    <div id="templateline"></div>
    <h5 for="" id="znalosti" class="noBorder"><b>Předpokládané znalosti</b>:</h5>
    <section id="uvod">
        <h3 id="problematika">Proč existuje IPv6?</h3>
        <p>Když začínal internet nepředpokládalo se, že by přístup k internetu mělo každé zařízení v chytré domácnosti včetně kávovarů a ledniček.</p>
        <p>Proto mají IPv4 adresy "omezenou" kapacitu pouze na 2**32 adres.</p>
        <p>S větším rozvojem internetu se síťaři snažili tento problém s omezenou kapacitou řešit tím, že vytvořili NAT (Network Address Translation), který umožní vstup do internetu lokálním zařízením pod 1 veřejnou IP adresou.</p>
        <p>Nicméně tohle problém zdaleka tak nevyřešilo a tak síťaři museli příjít s něcím lepším.</p>
        <section id="Ipv5" class="subSection">
            <h4>Kde je IPv5?</h4>
            <p>IPv5 se nikdy neměla stát oficiální náhradou IPv4, protože měla spoustu problémů, týkající se adresace. Nyní je spíš známá pod jiným jménem - Stream Protokol (ST)</p>
            <p>Protokol se měl tak používat pro streamování videí a hlasu a položil tak základy VoIP.</p>
        </section>
    </section>
    <section id="Basics">
        <h3>Základy IPv6</h3>
        <p>IPv6 je 128 bitová adresa, která se zapisuje hexadecimálně. 128bitová velikost nám umožní vytvořit až 340 undecilionů unikátních adres (2**128).</p>
        <p>Jejím účelem je nahradit již zastaralé technologie a omezení, které sebou IPv4 přinesla.</p>
        <p>Ve vývoji je od 90let.</p>

        <section id="header" class="subSection">
            <h4>Hlavička IPv6</h4>
            <ul>
                <li class="req" class="beforecode"><b>Version</b> - standardně 6</li>
                <li class="req"><b>Traffic Class</b> - 8bitovy, v podstatě Quality of Service, nastavuje prioritu určitých zpráv (např. VoIP)</li>
                <li class="req"><b>Flow Label</b> - 20bitovy, identifikuje specificky traffic flows</li>
                <li class="req"><b>Payload Length</b> - 16bitu</li>
                <li class="req"><b>Next Header</b> - 8bitu, typ next headeru (Např TCP či UDP)</li>
                <li class="req"><b>HOP limit</b> - 8bitu, funguje jako TTL</li>
                <li class="req"><b>Src. Address</b> - 128bitu</li>
                <li class="req"><b>Dest. Address</b> - 128bitu</li>
            </ul>
        </section>

        <section id="Adresace" class="subSection">
            <h4>Adresace</h4>
            <p>IPv6 se tedy zapisuje hexadecimálně (tj. obsahuje i písmenka A-F) a skládá se z 8 skupinek 4 hexadecimálních číslic.</p>
            <p>Příkladem IPv6 adresy může být například: 2001:0DB8:1111:ABC0:4521:4871:0000:0001</p>
            <p>Přičemž se můžete setkat se 2 typy zápisu: </p>
            <li class="req">Celý - příkladem může být již uvedený 2001:0DB8:1111:ABC0:4521:4871:0000:0001</li>
            <li class="req">Zkrácený - příkladem může být tato adresa: 3001:AC1::C03</li>

            <section id="Rules4Ab" class="subSection">
                <h5>Pravidla pro zkrácení zápisu IPv6</h5>
                <p>IPv6 bývají hodně dlouhé a lidstvo bývá líné, proto lze zápis při dodržení určitých pravidel zkrátit.</p>
                <li class="req beforecode">Pravidlo č1 - vynech skupiny, které tvoří samé 0, to místo, kde se tyto skupiny nachází nahraď :: ale měj na paměti, že to můžeš udělat pouze 1 s tím, že pokud tam je těch skupin více tak vynech tu větší.</li>
                <pre>2001:0000:0000:AC01:0000:0000:0000:1000 --> 2001:0000:0000:AC01::1000</pre>
                <li class="req beforecode">Pravidlo č2 - vynech všechny 0 nazáčatku skupin</li>
                <pre>2001:0000:0000:00B0:0CA1:0000:0000:0AC1 --> 2001:0:0:B0:CA1:0:0:AC1</pre>

                <p>Teď když tyto pravidla zkombinuješ a uplatníš tak budeš moci vytvořit zkrácený zápis IPv6</p>

                <p>Typické chyby: </p>
                <b>Používání pravidla č1 vícekrát</b>
                <b>Vynechání všech 0 nakonci skupin</b>

                <p>Zkrať následujicí IPv6 adresy:</p>
                <p class="beforecode">Př.</p>
                <pre>2001:0000:0000:AC1E:0000:0000:0870:0451</pre>
                <p class="beforecode">Řešení:</p>
                <pre>2001::AC1E:0:0:870:451 nebo 2001:0:0:AC1E::870:451</pre>
                <p class="beforecode">Př.</p>
                <pre>FE80:C1A2:0000:0000:0000:AC1E:9874:0C00</pre>
                <p class="beforecode">Řešení:</p>
                <pre>FE80:C1A2::AC1E:9874:C00</pre>
                <p>Teď proces obrátíme a ty budeš mít za úkol udělat ze zkrácené adresy adresu celou - </p>
                <p class="beforecode">Př.</p>
                <pre>2001::AC1:BC44:0</pre>
                <p class="beforecode">Řešení:</p>
                <pre>2001:0000:0000:0000:0000:0AC1:BC44:0000</pre>
                <p class="beforecode">Př.</p>
                <pre>FF02::2</pre>
                <p class="beforecode">Řešení:</p>
                <pre>FF02:0000:0000:0000:0000:0000:0000:0002</pre>
            </section>
        </section>
        <section id="types" class="subSection">
            <h4>Typy IPv6 Adres</h4>
            <p>IPv6 adresy se dělí na 3 základní skupiny - unicastové, multicastové a anycastové</p>
            <section id="GUA" class="subSection">
                <h5>Global Unicast Adresa</h5>
                <p>Tento typ adresy funguje jako klasická veřejná IPv4 adresa.</p>
                <p>Přiděluje ji ISP.</p>
                <p>Byl pro ni vyhrazený blok 2000::/3 ale nyní je to v podstatě jakákoliv adresa, která neslouží pro jiný účel.</p>

                <section id="Parts" class="subSection">
                    <li class="req">Global Routing Prefix - přiděluje jej ISP, IANA či RIR, je velký P bitů</li>
                    <li class="req">Subnet ID - je velká S bitů a slouží k identifikaci dané subnet.</li>
                    <li class="req">Interface ID - slouží k identifikaci zařízení, je velký I bitů</li>
                    <p>Dohromady musí platit, že P+S+I je 128.</p>
                    <p>P+S dává dohromady <b>prefix length</b>.</p>
                </section>
                <section id="LookingForGRP" class="subSection">
                    <h5>Hledání IPv6 prefixu</h5>
                    <p>Další užitečnou znalostí je umět najít prefix</p>
                    <p>Dejme tomu, že máme zadanou IPv6 adresu 2001:1111:2222:3333:4444:5555:6666:7777/64 (/64 značí prefix length) a naším úkolem je najít prefix.</p>
                    <p>V tomto případě je postup velmi jednoduchý, protože stačí adresu rozdělit přesně v půlce (celkově je IPv6 adresa 128bitová, našim prefix length je 64, 128-64=64) pro získání prefixu - 2001:1111:2222:3333::/64</p>
                </section>
            </section>
            <section id="ULUA" class="subSection">
                <h5>Unique Local Unicast Adresa</h5>
                <p>Chovají se stejně jako privátní IPv4 adresy, nemůžou být tedy používaný na internetu.</p>
                <p>Je pro ně vyhrazený blok FC00::/7 s tím, že později bylo určeno, že 8 bit musí být 1 tudíž první 2 hexy musí být <b>FD</b>.</p>
                <p>Složení Unique Local Unicast Adresy:</p>
                <li class="req">FD - prvních 8 bitů</li>
                <li class="req">Global ID - mělo by být náhodně vygenerováno - 40 bitů</li>
                <li class="req">Subnet ID - standardně 16 bitů</li>
                <li class="req">Interface ID - zbytek</li>
                <p>Nejsou přidělovány žádnou organizací.</p>
            </section>
            <section id="LLA" class="subSection">
                <h5>Link-Local Adresa</h5>
                <p>Je to speciální typ unicastové adresy, který se používá pro routing a overhead protokoly.</p>
                <p>Vlastností těchto adres je, že se neposílají do jiných subnet, tudíž zůstávají vždy v rámci LAN. Z toho například plyne to, že jdou využít jako next-hop IP adresa nebo jako default gateway.</p>
                <p>Je definována rozsahem FE80::/10 - tzn. že první 3 hexy jsou buď FE8, FE9, FEA nebo FEB, dalších 54 bitů adresy je 0 a druhá půlka je nejčastěji vytvořená pomocí EUI-64.</p>
                <p class="beforecode">Tyto adresy jsou automaticky vytvořené na každém IPv6 interfacu, nicméně lze ji nastavit i manuálně (za dodržení podmínky, že je definována ve správném rozsahu - FE80::/10).</p>
                <pre>Router(config-if)#ipv6 address {address} link-local</pre>
                
                <section id="EUI64" class="subSection">
                    <h5>EUI-64 - Extended Unique Identifier</h5>
                    <p>Používá se tehdy, když se nám nechce vymýšlet interface ID (v tom případě nám stačí zadat pouze global ID s tím, že musí být 64bitový) či při tvorbě Link Local Adresy.</p>
                    <p>Postup je následujicí: </p>
                    <li>1) Rozděl MAC adresu na 2 stejné části</li>
                    <li>2) Vlož mezi ně FFFE --> díky tomu bude mít adresa potřebný počet hex číslic</li>
                    <li>3) Invertuj 7bit interface ID</li>
                </section>
            </section>
            <section id="others" class="subSection">
                <h5>Ostatní unicastové adresy</h5>
                <p>Další IPv6 unicastové adresy se kterými se můžete v praxi setkat jsou: </p>
                <li class="req">Neznámá IPv6 adresa - ::/128 - používá se tehdy, kdy host ještě nemá nastavenou IPv6 adresu či když s ní má problémy.</li>
                <li class="req">Loopback - ::1/128</li>
                <li class="req">Embedded IPv4 - ::{hex_IPv4}/80 - používá se tam, kde je podpora jak IPv4, tak IPv6</li>
                <li class="req">Default route - ::0</li>
            </section>
            <section id="Multicast" class="subSection">
                <h5>Multicastová adresace</h5>
                <p>Multicast je zpráva, která se pošle skupině routerů.</p>
                <p>IANA ji v rámci IPv6 přiděluje rozsah FF00::/12</p>
                <section id="SpecialMulticast" class="subSection">
                    <h5>Rozsah multicastových adres</h5>
                    <div class="overflowTable">
                        <table>
                            <tr>
                                <th>Název</th>
                                <th>První čtveřice</th>
                                <th>Význam</th>
                            </tr>
                            <tr>
                                <td>Interface-local</th>
                                <td>FF01</td>
                                <td>Paket zůstane v zařízení, používá se interně pro posílání paketům službám běžící na stejném zařízení</td>
                            </tr>
                            <tr>
                                <td>Link-local</td>
                                <td>FF02</td>
                                <td>Host, který vytvoří daný paket jej může poslat na link ale routery jej nebudou posílat dál</td>
                            </tr>
                            <tr>
                                <td>Site-local</th>
                                <td>FF05</td>
                                <td>Podobný Link-Localu, omezený fyzicky v rámci sítě</td>
                            </tr>
                            <tr>
                                <td>Organization-local</th>
                                <td>FF08</td>
                                <td>Širší než Site-Local, v rámci jedné organizace</td>
                            </tr>
                            <tr>
                                <td>Global</td>
                                <td>FF0E</td>
                                <td>Nemá žádnou hranici toho, kam lze poslat</td>
                            </tr>
                        </table>
                    </div>
                </section>
                <section id="LocalMulticastAddress" class="subSection">
                    <h5>Lokální rozsah multicastových adres</h5>
                    <div class="overflowTable">
                        <table>
                            <tr>
                                <th>Název</th>
                                <th>IPv6 Adresa</th>
                                <th>IPv4 Adresa</th>
                                <th>Význam</th>
                            </tr>
                            <tr>
                                <td>All-nodes</th>
                                <td>FF02::1</td>
                                <td>224.0.0.1</td>
                                <td>Všechny nody, který mají na interfacu IPv6</td>
                            </tr>
                            <tr>
                                <td>All-routers</td>
                                <td>FF02::2</td>
                                <td>224.0.0.2</td>
                                <td>Všechny routery, který mají na interface IPv6</td>
                            </tr>
                            <tr>
                                <td>All-OSPF</th>
                                <td>FF02::5</td>
                                <td>224.0.0.5</td>
                                <td>Všechny OSPF routery</td>
                            </tr>
                            <tr>
                                <td>All-OSPF DR/BDR</th>
                                <td>FF02::6</td>
                                <td>224.0.0.6</td>
                                <td>Všechny OSPF DR/BDR routery</td>
                            </tr>
                            <tr>
                                <td>RIPng</td>
                                <td>FF02::9</td>
                                <td>224.0.0.9</td>
                                <td>Všechny RIPng routery</td>
                            </tr>
                            <tr>
                                <td>EIGRPv6</td>
                                <td>FF02::A</td>
                                <td>224.0.0.10</td>
                                <td>Všechny EIGRPv6 routery</td>
                            </tr>
                            <tr>
                                <td>DHCP Relay</td>
                                <td>FF02::1:2</td>
                                <td>Není</td>
                                <td>Všechna zařízení, který se chovají jako DHCPv6 relay agent</td>
                            </tr>
                        </table>
                    </div>
                </section>
                <section id="Solicited-Node" class="subSection">
                    <h5>Solicited-Node multicastová adresa</h5>
                    <p>Speciální typ adresy, kterou používá NDP protokol.</p>
                    <p>Skládá se ze 2 částí: </p>
                    <ul>
                        <li class="req">FF02::1:FF00::/104 prefixu</li>
                        <li class="req">Posledních 6 hexů unicastové adresy</li>
                    </ul>
                    <p class="beforecode">Z global unicastové adresy - <b>2001::4512:ACD8</b> - tak bude: </p>
                    <pre>FF02::1:FF12:ACD8</pre>
                    <p>Zařízení počítá danou solicited node multicastovou adresu pro každou unicastovou adresu na interfacu.</p>
                </section>
            </section>
            <section id="Anycast" class="subSection">
                <h5>Anycast</h5>
                <p>Anycast je u IPv6 novinkou a znamená pošli zprávu nejbližšímu z dané skupiny (nejbližší je vybrán na základě IPv6 směrovací metriky).</p>
                <p>Je často spjatá s /128 prefixem, protože routery zpropagují danou host route pouze pro 1 anycastovou adresu.</p>
                <p class="beforecode">Konfigurace: </p>
                <pre>R1(config-if)#ipv6 address {adresa}{prefix} anycast</pre>
            </section>
        </section>
    </section>
    <section id="NDP">
        <h3>NDP - Neighbor Discovery Protokol</h3>
        <p>Protokol, který má mnoho funkcionalit. Jedna z nejdůležitejších je ta, že nahrazuje ARP (mapování IP adres k MAC adresám).</p>
        <p>ARP nahrazuje pomocí 2 zpráv NS (Neighbor Solicitation) a NA (Neighbor Advertisement).</p>
        <p>Když bude zařízení potřebovat zjistit MAC adresu pošle tomu chtěnému zařízení NS na jeho <b>solicited-node adresu</b>.</p>
        <p>Chtěné zařízení mu poté odpoví svou MAC adresou pomocí NA zprávy.</p>
        <p>Další funkcí NDP je dynamicky detekovat routery v síti.</p>
        <p>Zpráva RS - Router Solicitation (Multicast na FF02::2) a RA - Router Advertisement (FF02::1) - RA ohlašuje, že router existuje to ze existuje.</p>
        <section id="SLAAC" class="subSection">
            <h4>SLAAC - autokonfigurace</h4>
            <p>SLAAC používá RS a RA zprávy k tomu, aby pomocí nich vygeneroval IPv6 adresu.</p>
            <p>Pomocí RS a RA zprávy totiž dokáže zjistit, jaký IPv6 prefix používá v síti router (jestliže SLAAC používá router tak zjistí IPv6 prefix jiného routeru).</p>
            <p>Poté SLAAC zbytek dogeneruje náhodně nebo pomocí EUI-64.</p>
            <p class="beforecode">SLAAC lze nastavit také na routeru pomocí příkazu:</p>
            <pre>Router(config-if)#ipv6 address autoconfig</pre>
        </section>
        <section id="DAD" class="subSection">
            <h4>DAD - Duplication Address Detection</h4>
            <p>Mechanismus, který umožní hostům zkontrolovat zda nevygenerovali již použitou adresu, zapne se pokaždé když je nakonfigurovaná adresa na interfacu - k tomu používá NS a NA.</p>
            <p>Funguje tak, že Host pošle na svoji vlastní IPv6 adresu NS zprávu, přičemž když mu nikdo neodpoví, tak jeho adresa je unikátní.</p>
        </section>
    </section>
    <section id="Routing">
        <h3>IPv6 a směrování</h3>
        <section id="Static" class="subSection">
            <h4>Statické</h4>
            <p>Statické směrování se nastavuje podobně jako IPv4, ale nejprve jej musíme na routeru povolit pomocí příkazu: </p>
            <pre>R1(config)#ipv6 unicast-routing</pre>
            <p class="beforecode">Dál už jej nastavujeme klasicky: </p>
            <pre>R1(config)ipv6 route {DEST_NET}/{prefix-length} {NextHOP || exit interface} {*AD}</pre>
            <p><i>pozn. exit interface se používá jen tehdy když se nejedná o Ethernet interface.</i></p>
            <p><b>Pokud jako next hop použijete link-local adresu, je nutné před ní ještě uvést exit interface!</b></p>
            <p><i>pozn. nastavení AD je dobrovolné.</i></p>
        </section>
    </section>
    <section id="IPv6Conf">
        <h3>IPv6 Konfigurace</h3>
        <p>Našim cílem je nastavit zařízení tak, aby PC1 mohl pingnout PC2 užitím IPv6 - </p>
        <img src="../static/styles/images/Routing/IPv6.png" alt="IPv6 konfigurace" class="configImage">
        <p class="beforecode">Nejdříve na interfacích gig0/0 a gig0/1 povolíme zpracování IPv6 bez toho aniž by na interfacu byla nastavena (Tento krok je možný přeskočit).</p>
        <pre>Router6(config-if-range)#ipv6 enable</pre>
        <p class="beforecode">Teď přejdeme na interface gig0/0 a nastavíme na něm danou IPv6 adresu.</p>
        <pre>Router6(config-if)#ipv6 address 2001::/64 eui-64</pre>
        <p class="beforecode">Pak nastavíme gig0/1, kde specifikujeme celou IPv6 adresu.</p>
        <pre>Router6(config-if)#ipv6 address 2222::1/64</pre>
        <p class="beforecode">A také nastavíme manuálně link-local adresu.</p>
        <pre>Router6(config-if)#ipv6 address FE80::1 link-local</pre>
        <p class="beforecode">Ještě také na routeru povolíme ipv6 směrování, které je normálně vypnuté.</p>
        <pre>Router6(config-if)ipv6 unicast-routing</pre>
        <p class="beforecode">Na routeru6 nám zbývá ještě nastavit statické směrování, ke kterému se vrátíme, až budeme znát IPv6 adresu routeru7.</p>

        <p class="beforecode">Na routeru7 nejdříve povolíme směrování, abychom později mohli na interfacu gig0/0 a koncových zařízeních nastavit autokonfiguraci IPv6 adres.</p>
        <pre>Router7(config)#ipv6 unicast-routing</pre>
        <p class="beforecode">Poté přejdeme na interface gig0/0 a gig0/1 a nastavíme zde zadanou IPv6 adresu stejně jako u R6 na gig0/0</p>
        <pre>Router7(config)#interface gig0/1
Router7(config-if)#ipv6 address 2002::1/64
Router7(config-if)#interface gig0/0
Router7(config-if)#ipv6 address 2222::1/64
</pre>
        <p class="beforecode">Abychom si zde zkontrolovali, jestli jsme IPv6 adresy přiděleli správně, můžeme použít příkaz show ipv6 interface brief.</p>
        <pre>Router7#show ipv6 interface brief</pre>
        <p class="beforecode">Teď nám zbývá už pouze nastavit směrování, vrátíme se proto tedy zpátky na router 6.</p>
        <pre>Router6(config)#ipv6 route 2002::/64 2222::2</pre>
        <p class="beforecode">Routy si můžeme na routeru zobrazit pomocí:</p>
        <pre>Router6#show ipv6 route</pre>
        <p class="beforecode">Na routeru 7 uděláme to samé - </p>
        <pre>Router7(config)#ipv6 route 2001::/64 2222::1</pre>

        <p>Základní konfiguraci si můžete vyzkoušet <a href="../Labs/Ipv6/IPv6_Basics.pka">zde</a>.</p>
    </section>
    <section id="prehledPrikazu">
        <h3>Přehled příkazů (PT)</h3>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>Příkazy</th>
                        <th>Popis</th>
                        <th>Mód</th>
                    </tr>
                    <tr>
                        <td>ipv6 enable</th>
                        <td>Povolí zpracovávání ipv6 adres na interfacu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>ipv6 unicast-routing</td>
                        <td>Umožní routeru směrovat</td>
                        <td>Global interface</td>
                    </tr>
                    <tr>
                        <td>ipv6 address {ipv6_addr}/{prefix-length} [eui-64]</th>
                        <td>Nastaví IPv6 adresu na daném interfacu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>ipv6 address {ipv6_addr}/{prefix-length} anycast</th>
                        <td>Nastaví anycastovou adresu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>ipv6 address {ipv6_addr} link-local</td>
                        <td>Manuálně nastaví link-local adresu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>ipv6 address autoconfig</th>
                        <td>Vygeneruje pomocí RS/RA zpráv IPv6 adresu na daném interfacu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>show ipv6 interface brief</th>
                        <td>Zobrazí nakonfigurované IPv6 adresy na interfacích</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show ipv6 interface {int}</th>
                        <td>Zobrazí IPv6 na daném interfacu</th>
                        <td>EXEC</th>
                    </tr>
                    <tr>
                        <td>ipv6 route {net_ID}/{prefix-length} {exit_interface | next_hop} [AD]</th>
                        <td>Statické směrování</th>
                        <td>Global config</th>
                    </tr>
                    <tr>
                        <td>ipv6 route {net_ID}/{prefix-length} {exit_interface} {link-local next_hop} [AD]</th>
                        <td>Statické směrování pomocí link-local adresy</th>
                        <td>Global config</th>
                    </tr>
                    <tr>
                        <td>show ipv6 route</td>
                        <td>Zobrazí informace o naučených routech</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show ipv6 neighbor</td>
                        <td>Zobrazí ipv6 NDP tabulku</td>
                        <td>EXEC</td>
                    </tr>
                </table>
            </div>
    </section>
    <div class="height_spacer"></div>
    <section id="zaver">
        <h3>Závěr</h3>
        <p>IPv6 adresa vznikla jako reakce na nedostatek IPv4 adres. Pro to, aby nám za nějakou dobu vydržela, je 128bitová a zapisuje se hexadecimálně.</p>
        <p>Má 3 typy adres - <b>Unicast</b>, <b>Multicast</b> a <b>Anycast</b>.</p>
        <p>Unicast je adresa jednoho zařízení.</p>
        <p>Multicast je adresa skupiny zařízení.</p>
        <p>Anycast je adresa, která zkontaktuje nejbližšího ze skupiny.</p>
    </section>
    <div class="height_spacer"></div>
    <h3 style="text-align: center;" class="noBorder">Chcete si latku procvičit?</h3>
    <div id="templateline2" style='margin: auto;'></div>
    <div class="height_spacer"></div>
    <div class="btns_quiz">
        <a class="btnquiz" id="play">Hrát</a>
    </div>
    <div class="quiz" id="quiz">
        
        <div class="question" id="question">
            <div class="headerquest">
                <h2 id="questionNo">1.</h2>
                <h2 id="questionText"></h2>
                <div class="timer" id="timer">
                    <h6>čas:&nbsp</h6>
                    
                    <div class="timenum">
                        <div class="line2"></div>
                        <div class="circleback">
                            <h6 id="time">00</h6>
                        </div>
                        <div class="line2"></div>
                    </div>
            </div>
            </div>
        </div>
        <div class="mainer">
            <div class="height_spacer"></div>
            <div class="cont">
                <div class="abc">
                    <p class="letter">A</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">B</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">C</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">D</p>
                </div>
                
                <div class="line"></div>
                <div id="optionList">
                    <h4 class='choice_que noBorder' id="opt1"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt2"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt3"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt4"></h4>
                    <div class="height_spacer"></div>
                </div>
            </div>
        </div>

        <div id="answersSection">
            <div class="answers">
                <div class="bgans">
                    <h3 id="total_correct" class="noBorder">0</h3>
                </div>
                <div class="bgbtn" id="next_quest">
                    <h3 class="noBorder">Další</h3>
                </div>
            </div>
        </div>

        
    </div>
    <div class="result hidden">
        <img src="../static/styles/images/logos/trophy.svg" alt="" id="trophy" width="25%" height="25%">
        <h2>Výsledky</h2>
        <p id="points"></p>
        <div class="height_spacer"></div>
        <a class="playagainbtn" id="playagain">Hrát znovu</a>
    </div>
    <div class="height_spacer"></div>
<script src="../static/quiz.js"></script>
<script src="../static/quest.js"></script>
</body>
</html>