<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Scriptos - Netzwe</title>
</head>
<body>
    <h1>Základy automatizace sítí</h1>
    <div id="templateline"></div>
    <h5 for="" id="znalosti" class="noBorder"><b>Předpokládané znalosti</b>:</h5>
    <section id="CCNAREq">
        <h5>CCNA požadavky:</h5>
        <ul>
            <li class="req">Umět vysvětlit, jaké dopady má automatizace na síť</li>
            <li class="req">Být schopen/schopna porovnat tradiční síť se sítí, která je spravována z jednoho prvku</li>
            <li class="req">Rozumět "controller-based" a software defined architekturám (pojmy: Overlay, Underlay, Fabric, data plane, control plane, north-bound a south-bound API)</li>
            <li class="req">Porovnat tradiční správu "kampusové" sítě se správou sítě pomocí Cisco DNAC</li>
            <li class="req">Být schopen/schopna charakterizovat REST-based API (CRUD, HTTP metody, JSON/XML)</li>
            <li class="req">Znát možnosti jednotlivých konfiguračních nástrojů - Puppet, Chef, Ansible</li>
            <li class="req">Umět pracovat s daty v JSON formátu</li>
        </ul>
    </section>
    <section id="uvod">
        <h3 id="problematika">Úvod do problematiky</h3>
        <p>Představte si, že jste byli vybráni na pozici síťaře, jehož úkolem bude vytvořit novou síť. V této nové síti bude velký počet routerů, switchů a dalších síťových zařízení, které bude potřeba správně nakonfigurovat. Ruční konfigurací všech těchto zařízení byste strávili několik dní, přičemž by hrozilo, že byste v procesu mohli udělat pár chyb a do budoucna byste museli každé zařízení spravovat samostatně.</p>
        <p>Nicméně v dnešní době se lze tomuto vyvarovat tím, že síť zautomatizujeme, což nám právě dokáže:</p>
        <ul>
            <li class="req">ušetřit čas</li>
            <li class="req">ulehčit aplikaci různých QoS a zabezpečovacích politik</li>
            <li class="req">zjednodušit správu síťových zařízení</li>
            <li class="req">snížit pravděpodobnost lidské chyby při konfiguraci zařízení</li>
        </ul>
        <section id="Planes" class="subSection">
            <h4>Rozdělení funkčnosti síťových zařízení</h4>
            <p>Předtím než hupsneme do samotného vysvětlování automatizace sítí se musíme seznámit se třemi různými vrstvami zařízení (tzv. "planes"), které nám dají širší představu o tom, co se v síti vlastně automatizuje.</p>
            <section id="DataPlane" class="subSection">
                <h5>Data Plane</h5>
                <p>Pojmem "data plane" označujeme tu funkci zařízení, která dělá vše k tomu, aby doručila data.</p>
                <p>To zahrnuje vše od přijimutí dat, přes zpracování až po odeslání.</p>
                <p>Příklad data plane funkce u switche: Switch dostane unicastový rámec, koukne se do své mac adresové tabulky a podle ní pošle rámec dál...</p>
                <p>Další příklady data plane činností:</p>
                <ul>
                    <li class="req">zahazování zpráv</li>
                    <li class="req">zapouzdřování a rozbalování zpráv</li>
                    <li class="req">změna zdrojové IP adresy (NAT)</li>
                </ul>
                <p>Ještě poznamenám, že kromě "data plane" názvu se můžete setkat ještě s označením "forwarding plane".</p>
            </section>
            <section id="ControlPlane" class="subSection">
                <h5>Control Plane</h5>
                <p>"Mozek" síťových zařízení</p>
                <p>Za "control plane" označujeme tu funkčnost zařízení, která zařizuje to, co data plane potřebuje k tomu, aby bylo schopné odesílat data.</p>
                <p>A vlastně dokáže řídit to, podle čeho se data plane rozhoduje.</p>
                <p>Většina procesů control plane na základě různých algoritmů a logického rozhodování tvoří "tabulky" (např. směrovací tabulku)</p>
                <p>Control plane využívá směrovací protokoly, ARP, STP a jiné protokoly.</p>
                <p>Control plane si můžeme ukázat na Spanning Tree Protokolu, STP jako takové nemá vliv na doručování dat, avšak upozorňuje data plane na to, kterými porty lze data přenášet, aby nevznikla broadcastová bouře.</p>
            </section>
            <section id="ManagementPlane" class="subSection">
                <h5>Management Plane</h5>
                <p>Management plane nám umožňuje spravovat zařízení.</p>
                <p>Mezi protokoly, které patří pod management plane patří: SNMP, SSH, Telnet, Syslog</p>
            </section>
            <img src="../static/styles/images/NA/Planes.png" alt="Planes" class="configImage">
        </section>
    </section>
    <section id="SDN">
        <h3>SDN</h3>
        <p>Jednu z možností, jak lze zautomatizovat síť nám definuje SDN (Software Defined Networking).</p>
        <p>SDN nám představuje koncept centralizovaného řízení sítě, kdy ze síťových zařízení vyjmeme "control plane" a její činnost (případně část činnosti) přenecháme centralizovanému ovladači (tzv. Controller).</p>
        <p>Centralizovaný ovladač vykoná dané algoritmy (např. OSPF, STP, ARP), které by jinak udělalo dané síťové zařízení, jejich výsledky zpracuje a řekne "data plane" jednotlivých zařízení, co mají dělat k tomu, aby byla schopna doručovat data.</p>
        <p>Centralizovaný ovladač komunikuje se síťovými zařízeními přes tzv. "Southbound Interface - SBI".</p>
        <img src="../static/styles/images/NA/SDN_Controller.png" alt="Controller" class="configImage">
    </section>
    <section id="zaver">
        <h3>Závěr</h3>
    </section>
    <div class="height_spacer"></div>
    <h3 style="text-align: center;" class="noBorder">Chcete si latku procvičit?</h3>
    <div id="templateline2" style='margin: auto;'></div>
    <div class="height_spacer"></div>
    <div class="btns_quiz">
        <a class="btnquiz" id="play">Hrát</a>
    </div>
    <div class="quiz" id="quiz">
        
        <div class="question" id="question">
            <div class="headerquest">
                <h2 id="questionNo">1.</h2>
                <h2 id="questionText"></h2>
                <div class="timer" id="timer">
                    <h6>čas:&nbsp</h6>
                    
                    <div class="timenum">
                        <div class="line2"></div>
                        <div class="circleback">
                            <h6 id="time">00</h6>
                        </div>
                        <div class="line2"></div>
                    </div>
            </div>
            </div>
        </div>
        <div class="mainer">
            <div class="height_spacer"></div>
            <div class="cont">
                <div class="abc">
                    <p class="letter">A</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">B</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">C</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">D</p>
                </div>
                
                <div class="line"></div>
                <div id="optionList">
                    <h4 class='choice_que noBorder' id="opt1"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt2"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt3"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt4"></h4>
                    <div class="height_spacer"></div>
                </div>
            </div>
        </div>

        <div id="answersSection">
            <div class="answers">
                <div class="bgans">
                    <h3 id="total_correct" class="noBorder">0</h3>
                </div>
                <div class="bgbtn" id="next_quest">
                    <h3 class="noBorder">Další</h3>
                </div>
            </div>
        </div>

        
    </div>
    <div class="result hidden">
        <img src="../static/styles/images/logos/trophy.svg" alt="" id="trophy" width="25%" height="25%">
        <h2>Výsledky</h2>
        <p id="points"></p>
        <div class="height_spacer"></div>
        <a class="playagainbtn" id="playagain">Hrát znovu</a>
    </div>
    <div class="height_spacer"></div>
<script src="../static/quiz.js"></script>
<script src="../static/quest.js"></script>
</body>
</html>
