<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/scriptos.css">
    <script src="../static/jquary.js"></script>
    <link rel="icon" href="../static/styles/images/logos/icon.svg" type="image/png">
    <title>Scriptos - Netzwe</title>
</head>
<body>
    
    <div class="container">
        <nav class="nav inverted">
            <div class="subnav">
                <a href="index.html" class="icon"><picture><source media="(max-width: 600px)" srcset="../static/styles/images/logos/logo_new.png"><img src="../static/styles/images/logos/logo_new.png" alt="Main_logo" id="main_logo"></picture></a>
                <div id="line"></div>
                <div class="menu">
                    <ul id="Ulscriptos">
                        <li class="card" id="NETACCESS">
                            <div class="btnAtributtes">
                             <p class="btn">1L - NETWORK ACCESS</p>

                         </div>
                             <div class="submenu">
                                <a href="#vlan" id="vlan" class="sub_btn">VLAN</a>
                                <a href="#discoveryprotocols" id="discoveryprotocols" class="sub_btn">Discovery protocols</a>
                                <a href="#stp" id="stp" class="sub_btn ">STP & Etherchannel</a>
                                <a href="#portsec" id="portsec" class="sub_btn ">Port Security</a>
                                <div class="arrow"></div>
                             </div>
                         </li>
                        <li class="card" id="NETWORK">
                            <div class="btnAtributtes">
                                <p class="btn" >2L - NETWORK</p>
                            </div>
                            <div class="submenu">
                                <a href="#acl" id="acl" class="sub_btn">ACL</a>
                                <a href="#fhrp" id="fhrp" class="sub_btn">FHRP</a>
                                <a href="#ipv6" id="ipv6" class="sub_btn">IPv6</a>
                                <a href="#nat" id="nat" class="sub_btn">NAT</a>
                                <a href="#uvodRouting" id="uvodRouting" class="sub_btn">Routing</a>
                                <a href="#rip" id="rip" class="sub_btn">RIP</a>
                                <a href="#eigrp" id="eigrp" class="sub_btn">EIGRP</a>
                                <a href="#ospf" id="ospf" class="sub_btn">OSPF</a>
                                <a href="#bgp" id="bgp" class="sub_btn">BGP</a>
                                <div class="arrow"></div>
                            </div>
                        </li>

                        <li class="card" id="TRANSPORT">
                            <div class="btnAtributtes">
                                <p class="btn">3L - TRANSPORT</p>
                            </div>
                            <div class="submenu">
                                <a href="#syslog" id="syslog" class="sub_btn">Syslog</a>
                            </div>
                        </li>
                        <li class="card" id="APPLICATION">
                            <div class="btnAtributtes">
                                <p class="btn">4L - APPLICATION</p>
                            </div>
                            <div class="submenu">
                                <a href="#sshtelnet" id="sshtelnet" class="sub_btn">SSH & Telnet</a>
                                <a href="#ntpptp" id="ntpptp" class="sub_btn">NTP & PTP</a>
                                <a href="#dhcp" id="dhcp" class="sub_btn">DHCP</a>
                                <a href="#dns" id="dns" class="sub_btn">DNS</a>
                                <a href="#ftp" id="ftp" class="sub_btn">FTP</a>
                                <div class="arrow"></div>
                            </div>
                        </li>
                        <li class="card" id="NetworkAutomation">
                            <div class="btnAtributtes">
                                <p class="btn">Network Automation</p>
                            </div>
                            <div class="submenu">
                                <a href="#NetworkAutomation_Basics" id="NA_Basics" class="sub_btn">Základy</a>
                                <a href="#NetworkAutomation_Ansible" id="NA_Ansible" class="sub_btn">Ansible</a>
                                <a href="#NetworkAutomation_Terraform" id="NA_Terraform" class="sub_btn">Terraform</a>
                                <a href="#NetworkAutomation_Python" id="NA_Python" class="sub_btn">Python</a>
                                <div class="arrow"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="switch_phone">
                        <img src="../static/styles/images/logos/darkmode.svg" alt="DarkMode" id="DarkModeIcon">
                        <p id="DarkModeText">Dark mode</p>
                        <input type="checkbox" name="switchik" id="switcher2">
                    </div>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            
            </div>
            <div class="switch">
                <img src="../static/styles/images/logos/darkmode.svg" alt="DarkMode" id="DarkModeIcon">
                <p id="DarkModeText">Dark mode</p>
                <div class="switch2"><input type="checkbox" name="switchik" id="switcher"></div>
            </div>
        </nav>
        <main id="main"></main>

        <script src="../static/main.js"></script>
        
       

</div>
</body>
</html>