<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/scriptos.css">
    <script src="../static/jquary.js"></script>
    <link rel="icon" href="../static/styles/images/logos/icon.svg" type="image/png">
    <title>Scriptos - Netzwe</title>
</head>
<body>
    
    <div class="container">
        <nav class="nav inverted">
            <div class="subnav">
                <a href="index.html" class="icon"><picture><source media="(max-width: 600px)" srcset="../static/styles/images/logos/logo_new.png"><img src="../static/styles/images/logos/logo_new.png" alt="Main_logo" id="main_logo"></picture></a>
                <div id="line"></div>
                <div class="menu">
                    <ul id="Ulscriptos">
                        <li class="card" id="vlan">
                            <div class="btnAtributtes">
                                <a href="#vlan" class="btn" >VLAN</a>
                                <img src="../static/styles/images/logos/caret-down-solid.svg" width="5%" id="caret">
                            </div>
                            <div id="line2"></div>
                            <div class="submenu">
                                <a href="#vlan_uvod" id="proc_jsou" class="sub_btn">Úvod do problematiky</a>
                                <div id="line3"></div>
                                <a href="#zakladniKonfiguraceSection" id="zakladniKonfigurace" class="sub_btn">Zakladni konfigurace</a>
                                <div id="line3"></div>
                                <a href="#trunking" id="Trunking" class="sub_btn">Trunking</a>
                                <div id="line3"></div>
                                <a href="#DTPVTP" id="dtpvtp" class="sub_btn">DTP & VTP</a>
                                <div id="line3"></div>
                                <div class="arrow"></div>
                            </div>
                        </li>
                        <li class="card" id="stp">
                            <div class="btnAtributtes">
                             <a href="#stp" class="btn">STP</a>
                             <img src="../static/styles/images/logos/caret-down-solid.svg" width="5%" id="caret">
                         </div>
                             <div id="line2"></div>
                             <div class="submenu">
                                <a href="#stp_uvod" id="stp_uvod" class="sub_btn stp">Úvod do problematiky</a>
                                <div id="line3"></div>
                                <a href="#STA" id="stp_sta" class="sub_btn stp">STA</a>
                                <div id="line3"></div>
                                <a href="#rstp" id="stp_rstp" class="sub_btn stp">RSTP</a>
                                <div id="line3"></div>
                                <a href="#Etherchannel" id="stp_etherchannel" class="sub_btn stp">Etherchannel</a>
                                <div id="line3"></div>
                                <div class="arrow"></div>
                             </div>
                         </li>
                        <li class="card" id="routing_protocols">
                            <div class="btnAtributtes">
                                <a href="#routing_protocols" class="btn" >Routing Protocols</a>
                                <img src="../static/styles/images/logos/caret-down-solid.svg" width="5%" id="caret">
                            </div>
                            <div id="line2"></div>
                            <div class="submenu">
                                <a href="#uvodRouting" id="uvodRouting" class="sub_btn">Úvod</a>
                                <div id="line3"></div>
                                <a href="#rip" id="rip" class="sub_btn">RIP</a>
                                <div id="line3"></div>
                                <a href="#eigrp" id="eigrp" class="sub_btn">EIGRP</a>
                                <div id="line3"></div>
                                <a href="#ospf" id="ospf" class="sub_btn">OSPF</a>
                                <div id="line3"></div>
                                <a href="#bgp" id="bgp" class="sub_btn">BGP</a>
                                <div id="line3"></div>
                                <div class="arrow"></div>
                            </div>
                        </li>

                        <li class="card" id="ipv6">
                            <div class="btnAtributtes">
                                <a href="#ipv6" class="btn">IPv6</a>
                                <img src="../static/styles/images/logos/caret-down-solid.svg" width="5%" id="caret">
                            </div>
                            <div id="line2"></div>
                            <div class="submenu">
                            </div>
                        </li>
                        <li class="card" id="ssh-telnet">
                            <div class="btnAtributtes">
                                <a href="#sshTelnet" id="sshTelnet" class="btn">SSH & Telnet</a>
                                <img src="../static/styles/images/logos/caret-down-solid.svg" width="5%" id="caret">
                            </div>
                            <div id="line2"></div>
                            <div class="submenu">
                            </div>
                        </li>
                    </ul>
                    <div class="switch">
                        <input type="checkbox" name="switchik" id="switcher2">
                    </div>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            
            </div>
            <div class="switch">
                <input type="checkbox" name="switchik" id="switcher">
            </div>
        </nav>
        <main id="main"></main>

        <script src="../static/main.js"></script>
        
       

</div>
</body>
</html>