<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Scriptos - Netzwe</title>
</head>
<body>
    <h1>STP - Spanning Tree Protocol</h1>
    <div id="templateline"></div>
    <h5 for="" id="znalosti"><b>Předpokládané znalosti</b>: základy VLAN, základní konfigurace v PT</h5>
    <section id="uvod">
        <h3 id="problematika">Úvod do problematiky</h3>
        <div id="templateline2"></div>
        <div class="height_spacer"></div>
        <section id="broadcastStorm" class="subSection">
            <h4>Broadcast Storm</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>Předtím než si vysvětlíme STP a jeho funkci, je třeba si vysvětlit pojem "Broadcast storm".</p>
            <p>Broadcast storm je stav, kdy je za krátkou dobu v síti přítomno neuvěřitelně moc broadcast paketů.</p>
            <p>Nejlépe si vznik této situace vysvětlíme na ilustraci.</p>
            <img src="../static/styles/images/STP/Broadcast_storm.png" alt="BroadcastStorm" class="configImage">
            <p>Při tvorbě sítě bychom měli respektovat určitá nepsaná pravidla, jedno z nich je, aby síť byla <a href="https://www.sprava-site.eu/redundance/">redundatní</a>.</p>
            <p>Lze jasně vidět, že síť v obrázku toto nepsané pravidlo splňuje, jinými slovy, pokud selže Fa0/2 (SW1), rámec od PC1 k PC0 se dostane i tak.</p>
            <p>V této síti a každé jiné, která respektuje toto pravidlo, nastává ale velký problém, který souvisí se zpracováním broadcastu na switchi.</p>
            <p><i>Co se stane pokud PC1 pošle do sítě broadcast?</i></p>
            <p>1) SW1 jej pošle na všechny ostatní média kromě tohož, ze kterého broadcast vyšel.</p>
            <p>2) Tento postup opakují i ostatní switche, výsledkem bude to, že PC0 a PC1 obdrží broadcast opakovaně, switche budou mít bordel v MAC tabulce a broadcasty budou v síti proudit dokud je něco nezastaví.</p>
            <p>Tuto problematiku právě řeší Spanning Tree Protocol.</p>
        </section>
        <section id="UvodSTP" class="subSection">
            <h4>Úvod do STP</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>STP, Spanning Tree Protocol, IEEE 802.1D je protokol, který je defaultně nastavený na switchi, aby rozpoznal redundatní síť a znemožnil stvoření broadcast storm.</p>
            <p>Jestliže STP určí, že síť je redundatní, zablokuje určitý port, aby v síti nevznikla broadcast storm.</p>
            <p>Jak celý ten proces vybírání, který port bude zablokovaný probíhá?</p>
            <p>Nejvíce zjednošeně probíhá tak, že switche si mezisebou zvolí <b>Root switch</b>, switch který bude celou STP operaci řídit, dále ostatní switche spočítají Root cost, číslo, které nám udává jak dobře se rámce po tom médiu dostanou k root switchi, to určí nejefektivnější cestu k root bridge (volba root portu) a úplně nakonci proběhne volba designated a non-designated (zablokovanych) portů.</p>
            <ul>
                <li class="req">Výběr Root Bridge (Switche) - Switche, který bude celou operaci STP řídit, všechny porty na Root Bridgi normálně fungují. </li>
                <li class="req">Určení Root portů - Root port se nastaví na ostatních switchich a je to nejefektivnější cesta k Root bridgi.</li>
                <li class="req">Určení Non-designated portů - na všech zbývajících lincích se nastaví buď designated port (umožňuje normální komunikaci) nebo non-designated port (blokuje veškerou komunikaci kromě BPDU).</li>                
            </ul>
        </section>
    </section>
    <section id="STA">
        <h3 id="problematika">STA - Spanning Tree Algorithm</h3>
        <div id="templateline2"></div>
        <div class="height_spacer"></div>
        <section id="TypyPortu" class="subSection">
            <h4>Typy portu u STP</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <ul>
                <li class="req">Root Port - port, který určuje nejefektivnější cestu k root bridge(switch), ve forwarding stavu.</li>
                <li class="req">Designated Port - port ve forwarding stavu.</li>
                <li class="req">Non-Designated Port - port v blocking/discarding stavu.</li>
            </ul>
        </section>
        <section id="Typystavu" class="subSection">
            <h4>Typy stavu u STP</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>Stav</th>
                        <th>normální komunikace</th>
                        <th>přeposílá/dostává BPDU</th>
                        <th>MAC tabulka</th>
                        <th>Typ stavu</th>
                    </tr>
                    <tr>
                        <td>Forwarding</th>
                        <td>Ano</td>
                        <td>Ano/Ano</td>
                        <td>Ano</td>
                        <td>Stable</td>
                    </tr>
                    <tr>
                        <td>Blocking</th>
                        <td>Ne</td>
                        <td>Ne/Ano</td>
                        <td>Ne</td>
                        <td>Stable</td>
                    </tr>
                    <tr>
                        <td>Listening</th>
                        <td>Ne</td>
                        <td>Ano/Ano</td>
                        <td>Ne</td>
                        <td>Přechodný</td>
                    </tr>
                    <tr>
                        <td>Learning</th>
                        <td>Ne</td>
                        <td>Ano/Ano</td>
                        <td>Ano</td>
                        <td>Přechodný</td>
                    </tr>
                    <tr>
                        <td>Disabled</th>
                        <td>Ne</td>
                        <td>Ne/Ne</td>
                        <td>Ne</td>
                        <td>Stable</td>
                    </tr>
                   
                </table>
            </div>
        </section>
        <div class="height_spacer"></div>
        <section id="RootBridge" class="subSection">
            <h4>Výběr Root Bridge/Switch</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>Když poprvé spustíme switche všechny se považují za Root Bridge (Root Bridge a Root Switch jsou v tomto případě použity jako synonyma).</p>
            <p>Poté co si mezi sebou switche vymění tzv. BPDU (Bridge Protocol Data Unit) se z jednoho z nich stane Root Bridge, což z něho dělá switch, který může vytvářet BPDU.</p>
            <p>BPDU obsahuje Bridge ID, číslo, podle něho se určuje Root Bridge.</p>
            <p>Aby toho nebylo málo tak Bridge ID se skládá v 802.1D z <b>Bridge Priority</b> a <b>MAC Adresy</b>.</p>
            <p>Bridge Priority je číslo, jehož defaultní hodnota je 32768. Čím nižší toto číslo je tím vyšší pravděpodobnost, že se switch stane root bridge.</p>
            <p>Pakliže je ale Bridge Priority defaultně na všech switchích 32768 a my neuděláme žádnou změnu v BP., dalším rozhodujicím prvkem je MAC adresa, přičemž zas platí stejné pravidlo, čím nižší je MAC adresa, tím vyšší pravděpodobnost, že se switch stane root bridge.</p>
            <p>Všechny porty na root bridge jsou v designated stavu.</p>
            <section id="ex" class="subSection">
                <h5>Příklad 1</h5>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <h5>Který switch se stane Root Bridgem?</h5>
                <img src="../static/styles/images/STP/Ex2_RootBridge.png" alt="Ex1" class="configImage">
                <p><i>Pro ulehčení jsou MAC Adresy zkrácené.</i></p>
                <p><i>Řešení: <b>Switch 3</b></i></p>
                <p><i>V tomto případě je řešení velmi prosté, chceme nejnižší BP, to má již na první pohled switch 3, který se stává root bridgem.</i></p>
                <h5>Příklad 2</h5>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <h5>Který switch se stane Root Bridgem?</h5>
                <img src="../static/styles/images/STP/Ex1_RootBridge.png" alt="Ex2" class="configImage">
                <p><i>Pro ulehčení jsou MAC Adresy zkrácené.</i></p>
                <p><i>Řešení: <b>Switch 2</b></i></p>
                <p><i>Vždycky je nejlepší si prvně porovnat BP --> chceme <b>nejnižší</b> smysluplné číslo --> to nám vyřadí Switch 1.</i></p>
                <p><i>Jestliže jsou na 2 switchích BP stejné, rozhoduje o tom nejnižší MAC Adresa, tu v tomto případě má Switch 2.</i></p>
            </section>
        </section>
        <section id="RootPort" class="subSection">
            <h4>Určení Root Port</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>Teď když už máme určený root bridge, je třeba určit root porty.</p>
            <p>Root porty se určují pomocí <b>root cost</b>, číslo, které udává efektivitu cesty k root bridge (switch).</p>
            <p>Root cost se určuje pomocí bandwidth, čím vyšší bandwidth tím nižší číslo, tím vyšší šance, že se port stane RP.</p>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>bandwidth</th>
                        <th>Root cost</th>
                    </tr>
                    <tr>
                        <td>10Mbit</th>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>100Mbit</th>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>1000Mbit</th>
                        <td>4</td>
                    </tr>
                   
                </table>
            </div>
            <div class="height_spacer"></div>
            <p>Jestliže root cost je stejná, switch použije tyto 3 pravidla (dle pořadí), aby určil root port.</p>
            <ul>
                <li class="req">Výběr pomocí Bridge ID - tj. BP, *Extended VLAN System, MAC Adresa</li>
                <li class="req">Výběr pomocí nejnižší <b>port priority</b> sousedícího switche - číslo, které najdeme použitím příkazu "show spanning-tree", většinou koukáme na to, co se nachází za tečkou.</li>
                <li class="req">Výběr pomocí nejnižšího port ID sousedícího switche, tj. G0/0, G1/0 atd.</li>
            </ul>
            <p><i>* Využívájí jej PVST protokoly</i></p>
        </section>
        <section id="NonDesignatedPort" class="subSection">
            <h4>Určení Non-Designated Portu</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>Je pravidlem, že v každé zbývající collision domain je jeden port Designated a ten druhý Non-Designated.</p>
            <p>Designated portem se stane ten port, jehož switch má menší root cost.</p>
            <p>Když root cost bude na obou switchích v rámci jednoho linku stejný designated portem se stane ten port, který bude mít nejnižší Bridge ID.</p>
            <section id="ex" class="subSection">
                <h5>Příklad 1</h5>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <h5>Urči typ všech portů</h5>
                <img src="../static/styles/images/STP/Ex1_Ports.png" alt="Ex1" class="configImage">
                <p><i>Pro ulehčení jsou MAC Adresy zkrácené.</i></p>
                <p><i>Řešení:</i></p>
                <img src="../static/styles/images/STP/Ex1_Ports_Sol.png" alt="Ex1Sol" class="configImage">
                <p><i>Prvně si určíme RB, tím se v tomto případě stává SW7, díky jeho MAC adrese. Všechny jeho porty jsou <b>designated</b>.</i></p>
                <p><i>G0/1 na SW6 se stává RP. (RC. je 4).</i></p>
                <p><i>Situace na SW5 je poněkud komplikovanější, protože link vedoucí přímo k RB. je Fast Ethernet, který má RC 19, což je víc než kdyby jeho rámce šly přes SW6 (RC. je 8), takže RP je stává G0/1 na SW5.</i></p>
                <p><i>To nám nechává poslední port, kterým je Fa0/1 na SW5, ten se stává <b>non-designated</b>.</i></p>
                <h5>Příklad 2</h5>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <h5>Urči typ všech portů</h5>
                <img src="../static/styles/images/STP/Ex2_Ports.png" alt="Ex2" class="configImage">
                <p><i>Pro ulehčení jsou MAC Adresy zkrácené.</i></p>
                <p><i>Řešení:</i></p>
                <img src="../static/styles/images/STP/Ex2_Ports_Sol.png" alt="Ex2Sol" class="configImage">
                <p><i>Nejdřív si určíme RB, tím se kvůli BP stává <b>Switch 3.</b></i></p>
                <p><i>Všechny jeho porty jsou <b>Designated</b>.</i></p>
                <p>Root porty jsou už obtížnější, co se týče vztahu SW3-SW1 tam je jasné, že RP se stane G0/1 na SW1 (Root cost je 4).</p>
                <p>U vztahu SW3-SW1 je nutné si dát pozor na bandwidth linků, protože G0/2 má RC. 4 a Fa0/1 má RC. 19, protože je Fast Ethernet (100mbit).</p>
                <p>U Switche 0 se stane díky RC. Root portem G0/1, to z G0/1 na SW2 dělá designated port.</p>
                <p>Co se týče posledního vztahu mezi SW0 a SW1, tak celková RC na SW0 je 8(4 za G0/1 a 4 za G0/2), RC na SW1 je 4, proto jsou jako <b>designated porty</b> vybrány Fa0/1 a Fa0/23 na SW1 a Fa0/1 s Fa0/24 jsou <b>Non-Designated</b>.</p>
            </section>
        </section>
        <section id="Timers" class="subSection">
            <h3 id="problematika">STP Timers</h3>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>Název</th>
                        <th>Popis</th>
                        <th>Čas [s]</th>
                    </tr>
                    <tr>
                        <td>Hello</th>
                        <td>Jak často posílá RB. hello BPDU zprávy</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Forwarding delay</th>
                        <td>Délka jednoho přechodného vztahu</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Max age</th>
                        <td>Za jak dlouho se v síti změní STP, pokud do té doby nepřijde hello BPDU</td>
                        <td>20</td>
                    </tr>
                   
                </table>
            </div>
        </section>
        <div class="height_spacer"></div>
    </section>
    <section id="Toolkit">
        <h3 id="problematika">STP Toolkits</h3>
        <div id="templateline2"></div>
        <div class="height_spacer"></div>
        <p>STP Toolkits jsou další STP nastavení, které umožňují efektivnější chod STP protokolu.</p>
        <section id="portfast" class="subSection">
            <h4>PortFast</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>PortFast nám slouží k přeskočení přechodných stavů na portech, kde jednoduše víme, že to nebude potřeba.</p>
            <p>U PortFastu je ale třeba být obezřetný, protože ve chvíli, kdy se k danému portu připojí switch, nám hrozí broadcast storm.</p>
            <p>*U PVST protokolů se nastavuje u všech <b>Access</b> portů.</p>
            <h5>Nastavení Portfast globálně</h5>
            <pre>switch(config)#spanning-tree portfast default</pre>
            <h5>Nastavení Portfast na interfaci</h5>
            <pre>switch(config-if)#spanning-tree portfast</pre>
        </section>
        <section id="bpduguard" class="subSection">
            <h4>BPDU Guard</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>BPDU Guard nám jednoduše umožňuje na portu nastavit "pojistku", která port při přijmutí BPDU od neznámého switche vypne, aby předešla vzniku broadcast storm.</p>
            <p>BPDU Guard se dokonale doplňuje s PortFastem.</p>
            <h5>Nastavení BPDU Guard globálně</h5>
            <pre>switch(config)#spanning-tree portfast bpduguard default</pre>
            <h5>Nastavení BPDU Guard na interfaci</h5>
            <pre>switch(config-if)#spanning-tree bpduguard {enable|disable}</pre>
        </section>
        <section id="rootguard" class="subSection">
            <h4>Root Guard</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>Root Guard zablokuje port při přijmutí superior BPDU rámce --> pojistka, že tato stávající RB. zůstane root bridgem.</p>
            <h5>Nastavení Root Guard na interfaci</h5>
            <pre>switch(config-if)#spanning-tree guard root</pre>
        </section>
    </section>
    <section id="Další_STP_protokoly">
        <h3 id="problematika">Další STP protokoly</h3>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
        <section id="pvst" class="subSection">
            <h4 id="problematika">PVST & PVST+</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>PVST & PVST+ jsou Cisco-proprietary protokoly, které do STP přidávají VLANy - každá VLAN může mít svoji vlastní STP topologii, tzn. že v jedné VLAN může port fungovat a v druhé nemusí.</p>
            <p>S PVST, (Per-VLAN Spanning Tree) se dnes již málo kdy setkáte, podporuje jen ISL trunking formát.</p>
            <p>PVST+ již podporuje užívaný dot1q trunking formát.</p>
            <p>S VLANy nám přibyl do BPDU další důležitý faktor - <b>Extended System ID</b>, ten tvoří výslednou Bridge Priority, která je součtem klasicky nastavné BP. a VLAN ID - tj. při užití VLAN 1 je výslednou BP. 32769. </p>
        </section>
        <section id="mstp" class="subSection">
            <h4 id="problematika">MSTP - 802.1s</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>MSTP - 802.1s, Multiple Spanning Tree Protocol je protokol, který nám umožňuje vytvářet tzv "instance" - seskupení určitých VLAN STP topologií. </p>
            <p>Ve větší síti je lepší pro rychlejší konfiguraci používat MSTP než RPVST+ protokol.</p>
            <p>Je to jeden z pokročilejších protokolů, pro CCNA není vyžadován.</p>
        </section>
        <section id="rstp" class="subSection">
            <h4 id="problematika">RSTP - 802.1w</h4>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>RSTP protokoly jsou vylepšenou verzí 802.1D. Cílem RSTP je zeefektivnit (např. zrychlit přesun zablokovaného portu do forwarding stavu, který v 802.D trvá 30s.) a přiblížit STP protokol moderní době (802.1D se používalo v 90 letech 20.st.).</p>
            <p>Co se týče hlavních principů tak ty zůstaly nezměněny - určuje se Root Bridge, Root Port a Designated port.</p>
            <p>Změna je u root cost, která je byla upravená, což přineslo lepší zapamatovatelnost a přizpůsobitelnost novějším technologiím.</p>
            <section id="rootcost" class="subSection">
                <h5 id="problematika">Porovnání 802.1D a 802.1w verze Root cost</h5>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <div class="overflowTable">
                    <table>
                        <tr>
                            <th>bandwidth</th>
                            <th>STP (802.1D)</th>
                            <th>RSTP (802.1w)</th>
                        </tr>
                        <tr>
                            <td>10 Mbit/s</th>
                            <td>100</td>
                            <td>2000000</td>
                        </tr>
                        <tr>
                            <td>100 Mbit/s</th>
                            <td>19</td>
                            <td>200000</td>
                        </tr>
                        <tr>
                            <td>1 Gbit/s</th>
                            <td>4</td>
                            <td>20000</td>
                        </tr>
                        <tr>
                            <td>10 Gbit/s</th>
                            <td>2</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>100 Gbit/s</th>
                            <td>N/A</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>1 Tbit/s</th>
                            <td>N/A</td>
                            <td>20</td>
                        </tr>
                       
                    </table>
                </div>
            </section>
            <div class="height_spacer"></div>
            <section id="Stavportu" class="subSection">
                <h5 id="problematika">Změna stavů portů</h5>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <p>Změnu najdeme také u stavů portů, kde nám mizí <b>listening, disabled a blocking</b> stavy a jsou přesunuty pod 1 společný - Discarding port.</p>
                <p>Ten má stejnou funkcionalitu jako blocking stav u STP.</p>
            </section>
            <p>Další změnou je rozložení Non-designated portu na 2:</p>
            <section id="Alternateport" class="subSection">
                <h5 id="problematika">Alternate port</h5>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <p>Standardně je Alternate port v discarding stavu.</p>
                <p>Je brán ale jako náhradník, pokud by se s forwarding portem něco stalo.</p>
            </section>
            <section id="Backupport" class="subSection">
                <h5 id="problematika">Backup port</h5>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <p>Záložní port, když se něco stane s designated portem.</p>
                <p>Backup port vzniká, pakliže chceme udělat propojení switch-hub-switch.</p>
                <p>Funguje v half-duplex módu.</p>
                <p>S backup portem se dnes již moc nesetkáte.</p>
            </section>
            <section id="rstptimer" class="subSection">
                <h5 id="problematika">RSTP timers</h5>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <p>RSTP posílá každé 2s Hello BPDU.</p>
                <p>V čem je ale rozdíl oproti klasickému STP je to, že je zde výrazně snížen Max Age timer, který je nově pouze 6s.</p>
            </section>
            <section id="linktypes" class="subSection">
                <h5 id="problematika">Link Types</h5>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <p>RSTP nově představuje Link Types - <b>Edge</b>, <b>Point-to-point</b> a <b>shared</b>.</p>
                <p>Edge - jsou všechny porty které propojují switch a end host zařízení. Mají stejnou funkcionalitu jako portfast - link je bez žádného dalšího protahování ve forwarding stavu. Pro nastavení tohoto link typu stačí nastavit na daném portu portfast.</p>
                <p>Point-to-point - klasický SW-SW link type.</p>
                <p>Shared - SW-Hub-SW link type, fungují v half-duplex módu.</p>
            </section>
        </section>
        
    </section>
    <section id="STP_Conf">
        <h3 id="problematika">Konfigurace STP</h3>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <div class="subSection">
                <h4>Nastavení STP protokolu</h4>
                <pre>Switch(config)#spanning-tree mode {pvst, rapid-pvst, mstp}</pre>
                <h4>Nastavení BPDU priority</h4>
                <pre>Switch(config)#spanning-tree vlan {vlan-id} priority {priority}</pre>
                <h4>Nastavení root bridge</h4>
                <pre>Switch(config)#spanning-tree vlan {vlan-id} root {primary, secondary}</pre>
                <h4>Nastavení STP cost</h4>
                <pre>Switch(config)#spanning-tree vlan {vlan-id} cost {cost}</pre>
                <h4>Nastavení port priority</h4>
                <pre>Switch(config)#spanning-tree vlan {vlan-id} port-priority {priority}</pre>
                <h4>Zobrazení nastavení STP</h4>
                <pre>Switch#show spanning-tree</pre>
            </div>
            <div class="height_spacer"></div>
    </section>
    <section id="Etherchannel">
        <h3 id="problematika">Etherchannel</h3>
        <div id="templateline2"></div>
        <div class="height_spacer"></div>
        <p>Etherchannel, port-channel a také channel-group je funkcionalita, která nám spojí vícero linků (až 8) do 1 virtuálního.</p>
        <p>To se používá právě kvůli tomu, že v síti defaultně běží STP protokol, který by nechal v provozu pouze 1 link.</p>
        <p>Vícero linků mezi dvěma zařízeníma má za následek zvětšení bandwidthu.</p>
        <p>Na switchi lze nastavit až 6 Etherchannelů.</p>
        <p>Etherchannel se v síti značí takto:</p>
        <img src="../static/styles/images/STP/Etherchannel.png" alt="Ex2Sol" class="configImage">
        <section id="loadbalance" class="subSection">
            <h3 id="problematika">Etherchannel a load balancing</h3>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>Pokud switch využívá Etherchannel, rozhoduje se, kterým skutečným portem specifický rámec vyšle.</p>
            <p>Toto switch řeší pomocí metod, které určují podle jakého faktoru se switch rozhoduje.</p>
            <p>Všechny tyto metody mají za následek to, že všechny zprávy pocházející ze stejné aplikace budou přenášeny přes jeden skutečný port --> výsledkem je to, že dalšímu zařízení nepřijdou data nesezařená.</p>
            <p>Seznam metod:</p>
            <ul>
                <li class="req">src-mac --> všechny rámce z daného zařízení budou přenášeny přes jeden a ten samý fyzický link.</li>
                <li class="req">dst-mac</li>
                <li class="req">src-dst-mac --> dělá se XOR src a dst mac, všechny rámce z daného zařízení do určitého cíle budou přenášeny přes jeden a ten samý fyzický link.</li>
                <li class="req">src-ip</li>
                <li class="req">dst-ip</li>
                <li class="req">src-dst-ip --> dělá se XOR src a dst mac</li>
                <li class="req">src-port</li>
                <li class="req">dst-port</li>
                <li class="req">src-dst-port --> dělá se XOR src a dst portu</li>
            </ul>
            <p><i>poslední 3 metody nejsou dostupné v PT.</i></p>
            <h4>Nastavení load-balancingu</h4>
            <pre>Switch(config)#port-channel load-balance {metoda}</pre>
            <h4>Přehled load-balancingu</h4>
            <pre>Switch#show etherchannel load-balance</pre>
        </section>
        <section id="podminky" class="subSection">
            <h3 id="problematika">Podmínky vzniku Etherchannelu</h3>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>Pro vznik a správné fungování Etherchannelu je nutné dodržet následující body - </p>
            <ul>
                <li class="req">Stejný typ interfacu (FastEthernet, GigabitEthernet)</li>
                <li class="req">Stejný duplex mód</li>
                <li class="req">Linky jsou ve stejné VLAN</li>
                <li class="req">Etherchannel konfigurace musí být shodná na obou zařízeních</li>
                <li class="req">Linky musí mít shodnou nastevenou bandwidth</li>
            </ul>
        </section>
        <section id="PAgP" class="subSection">
            <h3 id="problematika">PAgP</h3>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>PAgP, Port Aggregation Protocol, je Cisco-propietary protokol, který dynamicky vytváří a spravuje Etherchannel.</p>
            <section id="konfiguracePAgP" class="subSection">
                <h3 id="problematika">Konfigurace PAgP</h3>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <p>PAgP se nastavuje pomocí 2 módů - </p>
                <ul>
                    <li class="req"><b>auto</b> - mód, který vytváří PAgP Etherchannel, pouze pokud dostane PAgP rámec.</li>
                    <li class="req"><b>desirable</b> - mód, který vytváří PAgP Etherchannel bez jakékoliv další podmínky.</li>
                </ul>
                <pre>switch(config-if-range)#channel-group {1-6} mode {auto|desirable}</pre>
            </section>
        </section>
        <section id="LACP" class="subSection">
            <h3 id="problematika">LACP</h3>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>LACP, Link Aggregation Control Protocol je IEEE 802.1AX (dříve IEEE 802.3ad) protokol, který stejně jako PAgP dynamicky vytváří a spravuje Etherchannel.</p>
            <section id="konfiguraceLACP" class="subSection">
                <h3 id="problematika">Konfigurace LACP</h3>
                <div id="templateline2"></div>
                <div class="height_spacer"></div>
                <p>LACP se stejně jako PAgP nastavuje pomocí 2 módů - </p>
                <ul>
                    <li class="req"><b>active</b> - mód, který vytváří LACP bezpodmínečně.</li>
                    <li class="req"><b>passive</b> - mód, který vytváří LACP, pouze pokud dostane LACP rámec.</li>
                </ul>
                <pre>switch(config-if-range)#channel-group {1-6} mode {active|passive}</pre>
            </section>
        </section>
        <section id="Static" class="subSection">
            <h3 id="problematika">Static</h3>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <p>Poslední možností nastavení Ethechannelu je statické.</p>
            <p>Toto se nedoporučuje.</p>
            <p>Nastavuje se pomocí slovíčka <b>on</b>.</p>
            <pre>switch(config-if-range)#channel-group {1-6} mode on</pre>
        </section>
        <p>K procvičení etherchannelu je k dispozici <a href="../Labs/STP/Etherchannel.pka">lab</a>.</p>
    </section>
    <section id="prehledPrikazu">
        <h3>Přehled příkazů (PT)</h3>
            <div id="templateline2"></div>
            <div class="height_spacer"></div>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>Příkazy</th>
                        <th>Popis</th>
                        <th>Mód</th>
                    </tr>
                    <tr>
                        <td>show spanning-tree</th>
                        <td>zobrazí informace o STP</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>spanning-tree mode {pvst, rapid-pvst, mstp}</th>
                        <td>nastaví specifický stp protokol</td>
                        <td>config</td>
                    </tr>
                    <tr>
                        <td>Switch(config)#spanning-tree vlan {vlan-id} priority {priority}</th>
                        <td>nastaví specifickou prioritu (násobky 4096 a 0)</td>
                        <td>config</td>
                    </tr>
                    <tr>
                        <td>spanning-tree vlan {vlan-id} root {primary, secondary}</th>
                        <td>nastaví prioritu takovou, aby se switch stal RB. nebo jeho náhradníkem</td>
                        <td>config</td>
                    </tr>
                    <tr>
                        <td>spanning-tree vlan {vlan-id} cost {cost}</th>
                        <td>nastaví STP cost</td>
                        <td>config</td>
                    </tr>
                    <tr>
                        <td>spanning-tree vlan {vlan-id} port-priority {priority}</th>
                        <td>nastaví port priority</td>
                        <td>config</td>
                    </tr>
                    <tr>
                        <td>spanning-tree portfast default</th>
                        <td>nastaví na portu portfast, v případě rstp-based protokolů nastavení edge link-type</td>
                        <td>config</td>
                    </tr>
                    <tr>
                        <td>spanning-tree portfast</th>
                        <td>nastaví na portu portfast, v případě rstp-based protokolů nastavení edge link-type</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>spanning-tree portfast bpduguard default</th>
                        <td>nastaví globálně na všech access portech bpduguard</td>
                        <td>config</td>
                    </tr>
                    <tr>
                        <td>spanning-tree bpduguard {enable|disable}</th>
                        <td>nastaví/vypne na portu bpduguard</td>
                        <td>interface</td>
                    </tr>
                    <tr>
                        <td>spanning-tree portfast</th>
                        <td>nastaví na portu portfast</td>
                        <td>interface</td>
                    </tr>
                   
                </table>
            </div>
            <p>Konfiguraci si můžeš procvičit <a href="../Labs/STP/STP.pka">zde</a>.</p>
    </section>
    <div class="height_spacer"></div>
    <section id="zaver">
        <h3>Závěr</h3>
        <div id="templateline2"></div>
        <div class="height_spacer"></div>
        <p>STP protokoly chrání síť před vznikem broadcast storms, které síť mohou velmi poškodit.</p>
        <p>Přičemž ochraňuje síť tak, že blokuje určité porty, které určí pomocí <a href="#STA">STA</a>.</p>
        <p>Průběh STA: zvolí se root bridge (switch), následně proběhne volba root portů a poté se určí designated a non-designated (blokovaných) portů.</p>
        <p>V současnosti se používají rapid-pvst a mstp, které dokáží oproti standardní verzi operovat s VLAN a zkracují čas potřebný k přepnutí discarding linku na forwarding.</p>
        <p>Etherchannel pak odpovídá na problematiku STP, který v případě vícero linků mezi 2 switchi nechá fungovat pouze jeden, tím, že až z 8 linků vytvoří jeden virtuální, přičemž se vytváří staticky nebo pomocí dynamických protokolů - LACP a PAgP.</p>
    </section>
    <div class="height_spacer"></div>
    <h3 style="text-align: center;">Chcete si latku procvičit?</h3>
    <div id="templateline2" style='margin: auto;'></div>
    <div class="height_spacer"></div>
    <div class="btns_quiz">
        <a class="btnquiz" id="play">Hrát</a>
    </div>
    <div class="quiz" id="quiz">
        
        <div class="question" id="question">
            <div class="headerquest">
                <h2 id="questionNo">1.</h2>
                <h2 id="questionText"></h2>
                <div class="timer" id="timer">
                    <h6>čas:&nbsp</h6>
                    
                    <div class="timenum">
                        <div class="line2"></div>
                        <div class="circleback">
                            <h6 id="time">00</h6>
                        </div>
                        <div class="line2"></div>
                    </div>
            </div>
            </div>
        </div>
        <div class="mainer">
            <div class="height_spacer"></div>
            <div class="cont">
                <div class="abc">
                    <p class="letter">A</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">B</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">C</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">D</p>
                </div>
                
                <div class="line"></div>
                <div id="optionList">
                    <h4 class='choice_que' id="opt1"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que' id="opt2"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que' id="opt3"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que' id="opt4"></h4>
                    <div class="height_spacer"></div>
                </div>
            </div>
        </div>

        <div id="answersSection">
            <div class="answers">
                <div class="bgans">
                    <h3 id="total_correct" >0</h3>
                </div>
                <div class="bgbtn" id="next_quest">
                    <h3>Další</h3>
                </div>
            </div>
        </div>

        
    </div>
    <div class="result hidden">
        <img src="../static/styles/images/logos/trophy.svg" alt="" id="trophy" width="25%" height="25%">
        <h2>Výsledky</h2>
        <p id="points"></p>
        <div class="height_spacer"></div>
        <a class="playagainbtn" id="playagain">Hrát znovu</a>
    </div>
    <div class="height_spacer"></div>
<script src="../static/quiz.js"></script>
<script src="../static/quest.js"></script>
</body>
</html>
