<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/template.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Scriptos - Netzwe</title>
</head>
<body>
    <h1>VLAN - Virtual Local Area Network</h1>
    <div id="templateline"></div>
    <h5 for="" id="znalosti" class="noBorder"><b>Předpokládané znalosti</b>: základní konfigurace v Packet Traceru, fungovaní L2 </h5>
    <section id="uvod">
        <h3 id="problematika">Úvod do problematiky</h3>
        <section id="vlan" class="subSection">
            <h4>VLAN</h4>
            <p>VLAN, také Virtual LAN, Virtual Local Area Network je velmi zjednošeně řečeno virtuální rozdělení sítě na L2.</p>
            <p>Pro CCNA definici je třeba si vysvětlit dva pojmy:</p>
            <ul>
                <li class="req"><b>LAN</b> - Local Area Network = síť menšího rozsahu ale pro pochopení VLAN se uvádí, že LAN je broadcast domain.</li>
                <li class="req"><b>Broadcast Domain</b> - Všechna zařízení v síti, která dostanou broadcastový rámec (dest. MAC FFFF.FFFF.FFFF).</li>
            </ul>
            <p>Defaultně switch dává všechny své interfaci do jedné a té samé broadcastové domény.
                Pokud tedy bez žádných dalších extra nastavení budeme chtít mít více broadcastových domén, budeme muset koupit další switch.
                Pokud jsme ale skrblíci a nechceme utrácet, můžeme síť rozdělit do dvou VLAN, a tím v podstatě docílit toho samého, jako kdybychom koupili další switch.
            </p>
            <img src="../static/styles/images/VLAN/Broadcast_Domain.png" alt="" class="configImage">
            <p>Na zjednodušeném schématu sítě najdeme právě jednu broadcastovou doménu.</p>
            <p>Je důležite také zmínit, že switch běžně <b>neposílá</b> data z jedné VLANy do druhé.</p>
        </section>
        <section id="vyhody" class="subSection">
            <h4>Výhody VLAN</h4>
            <ul>
                <li class="req">Snížení vytíženosti CPU na všech zařízení v síti (Sníží se počet zařízení, které dostanou broadcast.)</li>
                <li class="req">Lepší zabezpečení sítě (Omezíme kdo má přístup a k čemu.)</li>
                <li class="req">Dokáže síť rozdělit například podle různých oddělení bez nutnosti jedné fyzické lokace</li>
                <li class="req">Zjednodušení spravování sítě</li>
            </ul>
        </section>
        <section id="fungovaniVlan" class="subSection">
            <h4>Fungování VLAN</h4>
            <p>VLAN nastavíme tak, že na switchi přidělíme určitému interfacu typ portu (ACCESS/TRUNK).</p>
            <ul>
                <li class="req"><b>ACCESS</b> - switchport, který většinou používají koncová zařízení např PC.</li>
                <li class="req"><b>TRUNK</b> - switchport, který přenaší rámce s povolenými vlany, typické použití je pro propojení switchů a ROAS.</li>
            </ul>
            <p>Pokud je switchport nastavený na ACCESS, tak k němu můžeme přiradit právě jednu VLANu.</p>
            <p>Do zařízení pak budou moci proudit jen ty rámce, které jsou ve stejné VLAN.</p>
        </section>
    </section>
    <section id="zakladniKonfiguraceSection">
        <h3>
            Základní VLAN konfigurace (PT)
        </h3>
        <section id="TvorbaVLAN" class="subSection">
            <h4>Tvorba VLANy</h4>
            <pre>Switch(config)#vlan {VLAN_ID} //Vlan {VLAN_ID}, VLAN_ID je jakékoliv číslo od 2-1001 a 1006-4094.
Switch(config-vlan)#name {name} //Nastavení jména není povinné, je ale dobré jej uvádět.
</pre>
        </section>
        <section id="PrideleniAccessPortu" class="subSection">
            <h4>Přidělení VLANy k access portu</h4>
            <pre>Switch(config)#interface {interface}
Switch(config-if)#switchport mode access
Switch(config-if)#switchport access vlan 20 //pozn. Pokud VLAN ještě není vytvořená, switch ji automaticky vytvoří.
% Access VLAN does not exist. Creating VLAN 20.
</pre>


        </section>
        <section id="Zobrazeni" class="subSection">
            <h4>Zobrazení již vytvořených VLAN</h4>
            <pre>Switch#show vlan brief</pre>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>VLAN</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Ports</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>default</td>
                        <td>active</td>
                        <td>Fa1/1, Fa2/1, Fa3/1, Fa4/1, Fa5/1</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Sales</td>
                        <td>active</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>VLAN0020</td>
                        <td>active</td>
                        <td>Fa0/1</td>
                    </tr>
                    <tr>
                        <td>1002</td>
                        <td>fddi-default</td>
                        <td>active</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1003</td>
                        <td>token-ring-default</td>
                        <td>active</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1004</td>
                        <td>fddinet-default</td>
                        <td>active</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1005</td>
                        <td>trnet-default</td>
                        <td>active</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </section>
        <div class="height_spacer"></div>
        <section id="Ranges">
            <h4>VLAN Ranges</h4>
            <ul>
                <li class="req"><b>VLAN 0, 4095</b> - Reserved, nelze vytvořit.</li>
                <li class="req"><b>VLAN 1</b> - Běžně Native VLAN, ke které jsou přidělené za normalních okolností všechny ostatní interfaci, nejde smazat, v některých dokumentacích se označuje jako Default VLAN.</li>
                <li class="req"><b>VLAN 2-1001</b> - VLANy které jdou vytvořit, upravit a smazat a jsou dostupné na všech Cisco switchich.</li>
                <li class="req"><b>VLAN 1002-1005</b> - VLANy, které jsou tak trochu připomínkou již zastaralých technologii (FDDI a Token ring).</li>
                <li class="req"><b>VLAN 1006-4094</b> - Tzv. Extended VLANs jsou VLANy které jdou též vytvořit, upravit a smazat, ale nejsou podporovany na starších Cisco switchich a VTP je nepropaguje.</li>
            </ul>
        </section>
    </section>
    <section id="trunking">
        <h3>Trunking</h3>
        <p>Pakliže se dostaneme do situace, kdy máme více switchu, na kterých jsou nastavene VLANy a chceme, aby mezi dvěma stejnýma VLANama probíhala komunikace (viz ukázka), použijeme Trunk porty.</p>
        <p>Mohli bychom mezi switchi nastavit též Access port a přidelit mu VLANu, ale toto řesení je neefektivni, protože co VLANa, to médium, a tudíž kdyby tam těch VLAN bylo víc tak by to finančně nemuselo být vůbec pohodlné.</p>
        <p>Efektivní řešení je vytvoření tzv. Trunk portu, který umožňuje přenášet data různých VLAN po jednom médiu.</p>
        <h5>Porovnání konfigurace s access porty a trunkem mezi switchi</h5>
        <img src="../static/styles/images/VLAN/Conf_Access.png" alt="" class="configImage">
        <img src="../static/styles/images/VLAN/Conf_Trunk.png" alt="" class="configImage">
        
        <section id="TrunkingConcept" class="subSection">
            <h4>Trunking Concept</h4>
            <p>Jestliže tedy posíláme rámec přes trunk, tak switch daný rámec označí pomocí VLAN ID (to číslo, které zadáváme při vytváření VLANy).</p>
            <p>Když poté za pomocí trunku dorazí rámec na další switch, tak ten switch pak už bude vědět z jaké VLANy rámec pochází a podle toho ho bude moci poslat dál.
            </p>
            <p>Na Cisco switchích se můžeme setkat s dvěma Trunking protocoly:</p>
            <ul>
                <li class="req"><b>ISL</b> - starší Cisco-propietary protocol, dnes se již nepoužívá.</li>
                <li class="req"><b>802.1Q</b> - IEEE protocol, momentálně nejpoužívanější trunking protocol.</li>
            </ul>
            <p>802.1Q přidává do Ethernetové hlavičky 4bytový VLAN Header (tag), to pak pomáhá switchi určit z které VLANy daný rámec pochází.</p>
            <p>VLAN Header obsahuje 4 další pole:</p>
            <ul>
                <li class="req">Typ</li>
                <li class="req">Priorita</li>
                <li class="req">Flag</li>
                <li class="req"><b>VLAN ID (12 bitů)</b> --> tohle číslo nám udává jaký maximální VLAN ID může být (2**12 = 4096, v praxi kvůli 2 reservovaným hodnotám 4094 viz. VLAN Ranges).</li>
            </ul>
            <p>Pro správné fungování trunku je třeba mít na obou koncích stejné:</p>
            <ul>
                <li class="req">nastavení rychlosti</li>
                <li class="req">nastavení duplexu</li>
                <li class="req">protokol encapsulace</li>
                <li class="req">ID Native VLAN</li>
            </ul>
        </section>
        <section id="NativeVLAN" class="subSection">
            <h4>Native VLAN</h4>

            <p>Je typ VLANy, která se při průchodem přes trunk neoznačuje. Když pak switch dostane neoznačený rámec, tak předpokládá, že patří právě Native VLAN, <b>proto je nutné aby Native VLAN byla na obou koncích trunku stejná.</b></p>
            <p>Za normálních okolností je Nativní VLAN - VLAN 1, to lze ale změnit viz. Konfigurace Trunku.</p>
        </section>
        <section id="KonfiguraceTrunk" class="subSection">
            <h4>Konfigurace Trunku</h4>
            <h5>Přepnutí interfacu do trunk modu</h5>
            <pre>Switch(config-if)#interface {interface}
Switch(config-if)#switchport mode trunk
</pre>
            <h5>Zobrazení všech Trunku a jejich nastavení</h5>
            <pre>Switch#show interface trunk</pre>
            <p><i>Velmi doporučuji si tenhle příkaz zapamatovat, hodí se při troubleshootingu.</i></p>
            <h5>Povolení či odstranění VLAN z trunku</h5>
            <pre>Switch(config-if)#switchport trunk allowed vlan {VLAN_IDs | add | all | except | none | remove} 
Switch(config-if)#switchport trunk allowed vlan 15,25 //Na trunk budou smět pouze VLAN 15 a 25.
</pre>
            <h5>Nastavení Native VLAN</h5>
            <pre>Switch(config-if)#switchport trunk native vlan {VLAN_ID}</pre>
            <p><b>Je nutné, aby veškerá nastavení byla na obou koncích trunku stejná!</b></p>
            <p>Lab zaměřený na základní konfiguraci společně s nastavením trunku můžete stáhnout <a href="../Labs/VLAN/Lab1 - Konfigurace VLAN.pka" download>zde.</a></p>
        </section>
        <section id="doubleTagging" class="subSection">
            <h3>Double Tagging</h3>
            <p>Je forma speciálního útoku na síť, kdy se útočníkovi podaří dostat rámec z jedné VLAN do druhé bez použití Inter-VLAN routingu.</p>
            <p>Funguje tak, že útočník je připojený k zařízení, který je u NATIVE VLAN, ten útočník poté vytvoří rámec, který bude dvakrát označený, jednou jeho VLAN (outer tag) a po druhé jeho cílovou VLAN.</p>
            <p>Switch poté při průchodu na trunk první označení (outer tag) odebere, dalšímu switchi poté zbyde ten uměle vytvořený cílený tag a podle toho rámec pošle dál (do zařízení s cílenou VLAN).</p>
            <p>Útok funguje pouze tehdy, když je útočník připojený na zařízení pod NATIVE VLAN.</p>
            <p>Proti útoku se lze bránit tím, že Native VLAN přesuneme na nějakou jinou vlan-id, kterou nebudeme vůbec používat.</p>
        </section>
        <section id="ROAS" class="subSection">
            <h3>ROAS - Inter-VLAN routing</h3>
            <p>Chceme-li posílat rámce mezi VLANy, tak jednou z možností je použití ROAS - Router on a stick.</p>
            <p>ROAS funguje tak, že mezi switchem a routrem se nastaví na interfacu switche trunk.</p>
            <p>Na interfacu routeru se nakonfigurují subinterfaci.</p>
            <p>Na těchto subinterfacech je nutné zadat číslo VLANy a IP adresu.</p>
            <img src="../static/styles/images/VLAN/ROAS-konfigurace.png" alt="" class="configImage">
            <p>Pakliže PC1 (VLAN 10) bude chtít poslat data PC4 (VLAN 30), tak při odchodu ze switche na router bude rámec označen.</p>
            <p>Router ví, že rámec s označením 10 je na jeho subinterfacu g0/0.10.</p>
            <p>Router si dále všimne, že jeho dest IP adresa leží na subinterfacu g0/0.30.</p>
            <p>Tudíž router nasměruje daný paket na subinterface g0/0.30 a switch bude daný rámec brát tak, že patří do VLAN 30 a dále ho nasměruje do PC4.</p>
            <h4>Konfigurace ROAS</h4>
            <h5>Konfigurace ROAS na Switchi</h5>
            <pre>Switch(config)#int fa2/1
Switch(config-if)#switchport mode trunk
Switch(config-if)#switchport trunk allowed vlan {VLANs_ID}
</pre>
            <h5>Konfigurace ROAS na Routeru - nastavení subinterfacu</h5>

            <pre>Router(config)#interface {interface}
Router(config-if)#no shutdown //Nesmíme zapomenou zapnout nejdříve celý interface.
Router(config-if)#int {interface.X} //X je číslo sub interfacu,pro přehlednost doporučuju používat VLAN_ID. 
</pre>
            <h5>Konfigurace ROAS na Routeru - Nastavení subinterfacu pro specifickou VLAN</h5>
            <pre>Router(config-subif)#encapsulation dot1q {VLAN_ID}
Router(config-subif)#ip address A.B.C.D E.F.G.H  
</pre>
            <p><i>Příkazem říkáme, že rámce s daným VLAN_ID budou na tomhle subinterfacu a také specifikujeme trunking protokol a dále tomuto sub interfacu přiřazujeme IP adresu.</i></p>
            
            <p>Lab na procvičení ROAS můžete stáhnout <a href="../Labs/VLAN/Lab2 - ROAS.pka" download>zde</a>.</p></p>
        </section>
    </section>
    <section id="DTPVTP">
        <h3>DTP & VTP</h3>
        <p>Často se při práci s VLAN můžete setkat s pojmy DTP a VTP. Tyto protokoly mají vždy něco automatizovat.</p>
        <section id="VTP" class="subSection">
            <h4>VTP - VLAN Trunking Protokol</h4>
            <p>VTP je Cisco-propietary protokol, který propaguje nastavení VLAN, aby ostatní switche v síti přijaly existenci VLAN konfigurací.</p>
            <p>Jak je psáno výše VTP nepropaguje za normálních okolností Extended VLANs (VLANs s id 1006-4094).</p>
            <p>VTP protokol není v CCNA a v CCNP zkoušce a zas tolik se už nepoužívá. VTP má ale dopad na síť, takže by se o těchto dopadech mělo aspoň trochu vědět.</p>
            <p>VTP je možno vypnout dle věku daného switche.</p>
            <p>U starších zařízení se používá:</p>
            <pre>SW(config)#vtp mode transparent</pre>
            <p>U novějších zařízení se používá:</p>
            <pre>SW(config)#vtp mode off</pre>
            <p>Rozdíl mezi těmito příkazy je takový, že vtp mode transparent VTP zcela nevypne, kdežto vtp mode off jej zcela vypne.</p>
            <p>Obě možnosti ale znemožní VTP detekci a propagování VLAN.</p>
            <p>Pokud někdy budete mít s VLAN konfigurací problém, doporučuji zkontrolovat VTP status pomocí příkazu.</p>
            <pre>SW#show vtp status</pre>
        </section>
        <section id="DTP" class="subSection">
            <h4>DTP - Dynamic Trunking Protokol</h4>
            <p>DTP, jak už z názvu vyplývá, je protokol, který bude mít co dočinění s dynamickým nastavením Trunku.</p>
            <p>DTP automaticky vyjedná, jaký trunking protokol se bude používat a taky jestli je daný port trunk.</p>
            <p>Z bezpečnostního hlediska není doporučené DTP používat.</p>
            <p>DTP se nastavuje na každém portu zvlášť.</p>
            <p>Pokud je port v access módu, tak DTP jej nemůže nějak změnit.</p>
            <p>Když je port v trunk módu, tak jej též DTP nezmění, ale může pomoct změnit jej i na druhé straně trunku.</p>
            <pre>switch(config-if)#switchport mode dynamic auto <span>// přepne se do trunku, pokud dostane žádost.</span>
switch(config-if)#switchport mode dynamic desirable <span>// posílá žádost o přesun do trunk modu.</span>
</pre>
            <p>Jestliže chceme používat trunk bez toho, aby se používalo DTP, lze jej zakázat pomocí příkazu:</p>
            <pre>switch(config-if)#switchport nonegotiate</pre>
            <h4>Tabulka switchport modu</h4>>
            <div class="overflowTable">
                <table>
                    <tr>
                        <th>Nastavený mód</th>
                        <th>Access</th>
                        <th>Dynamic auto</th>
                        <th>Dynamic desirable</th>
                        <th>Trunk</th>
                    </tr>
                    <tr>
                        <td>access</td>
                        <td>access</td>
                        <td>access</td>
                        <td>nepoužívat</td>
                        <td>access</td>
                    </tr>
                    <tr>
                        <td>dynamic auto</td>
                        <td>access</td>
                        <td>access</td>
                        <td>trunk</td>
                        <td>trunk</td>
                    </tr>
                    <tr>
                        <td>trunk</td>
                        <td>nepoužívat</td>
                        <td>trunk</td>
                        <td>trunk</td>
                        <td>trunk</td>
                    </tr>
                    <tr>
                        <td>dynamic desirable</td>
                        <td>access</td>
                        <td>trunk</td>
                        <td>trunk</td>
                        <td>trunk</td>
                    </tr>
                </table>
            </div>
        </section>
    </section>
    <div class="height_spacer"></div>
    <section id="prehledPrikazu">
        <h3>Přehled příkazů (PT)</h3>
            <div class="overflowTable">
                <table>
                    <tr class="inverted">
                        <th>Příkazy</th>
                        <th>Popis</th>
                        <th>Mód</th>
                    </tr>
                    <tr>
                        <td>vlan {vlan-id}</th>
                        <td>Vytvoří VLAN a přepne do VLAN interfacu</td>
                        <td>Global Config</td>
                    </tr>
                    <tr>
                        <td>name {vlan-name}</td>
                        <td>Pojmenuje VLAN</td>
                        <td>VLAN interface</td>
                    </tr>
                    <tr>
                        <td>switchport mode {access | trunk | dynamic desirable | dynamic auto}</th>
                        <td>Přepne interface do modu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>switchport nonegotiate</th>
                        <td>Vypne DTP na interfacu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>switchport access vlan {vlan-id}</td>
                        <td>Přiřadí VLANu k danému interfacu</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>switchport trunk encapsulation {protocol}</th>
                        <td>Nastaví trunking protokol na switchi</td>
                        <td>Global Config</td>
                    </tr>
                    <tr>
                        <td>switchport trunk native vlan {vlan-id}</th>
                        <td>Nastaví Native VLAN</td>
                        <td>Interface</td>
                    </tr>
                    <tr>
                        <td>switchport trunk allowed vlan {add | all | except | remove} {vlan-id}</th>
                        <td>Nastaví povolené VLANy na trunku</th>
                        <td>Interface</th>
                    </tr>
                    <tr>
                        <td>encapsulation dot1q {VLAN_ID}</th>
                        <td>Nastaví sub interface pro danou VLAN</th>
                        <td>router - sub interface</th>
                    </tr>
                    <tr>
                        <td>vtp mode {transparent | off}</th>
                        <td>Vypne VTP</th>
                        <td>Global Config</th>
                    </tr>
                    <tr>
                        <td>show interfaces switchport</td>
                        <td>Zobrazí informace o interfaci</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show interfaces {interface-id} trunk</td>
                        <td>Zobrazí informace o truncích</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show vlan brief</td>
                        <td>Zobrazí informace o VLAN</td>
                        <td>EXEC</td>
                    </tr>
                    <tr>
                        <td>show vtp status</td>
                        <td>Zobrazí informace o VTP</td>
                        <td>EXEC</td>
                    </tr>
                </table>
            </div>
    </section>
    <div class="height_spacer"></div>
    <section id="zaver">
        <h3>Závěr</h3>
        <p>VLAN je logické rozdělní sítě (fyzické uspořádání na ni nemá vliv).</p>
        <p>Používá se tehdy, když chceme omezit kdo a k čemu má přístup, nebo chceme-li efektivně spravovat síť.</p>
        <p>Při práci s VLAN se setkáme s dvěma druhy switchportů, Access port, u interfacu který míří většinou do koncových zařízení, a Trunk, u interfacu který se používá tehdy, když chceme přes jedno médium posílat rámec vícero VLAN.</p>
        <p>Při nastavování trunk portu je třeba si hlavně dávat pozor na DTP, trunking protokol a Native VLAN - VLAN, která se při průchodem Trunkem neoznačuje.</p>
        <p>Když chceme povolit komunikaci mezi VLAN, použijeme ROAS.</p>
    </section>
    <div class="height_spacer"></div>
    <h3 style="text-align: center;" class="noBorder">Chcete si latku procvičit?</h3>
    <div id="templateline2" style='margin: auto;'></div>
    <div class="height_spacer"></div>
    <div class="btns_quiz">
        <a class="btnquiz" id="play">Hrát</a>
    </div>
    <div class="quiz" id="quiz">
        
        <div class="question" id="question">
            <div class="headerquest">
                <h2 id="questionNo">1.</h2>
                <h2 id="questionText"></h2>
                <div class="timer" id="timer">
                    <h6>čas:&nbsp</h6>
                    
                    <div class="timenum">
                        <div class="line2"></div>
                        <div class="circleback">
                            <h6 id="time">00</h6>
                        </div>
                        <div class="line2"></div>
                    </div>
            </div>
            </div>
        </div>
        <div class="mainer">
            <div class="height_spacer"></div>
            <div class="cont">
                <div class="abc">
                    <p class="letter">A</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">B</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">C</p>
                    <div class="height_spacer2"></div>
                    <p class="letter">D</p>
                </div>
                
                <div class="line"></div>
                <div id="optionList">
                    <h4 class='choice_que noBorder' id="opt1"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt2"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt3"></h4>
                    <div class="height_spacer"></div>
                    <h4 class='choice_que noBorder' id="opt4"></h4>
                    <div class="height_spacer"></div>
                </div>
            </div>
        </div>

        <div id="answersSection">
            <div class="answers">
                <div class="bgans">
                    <h3 id="total_correct" class="noBorder">0</h3>
                </div>
                <div class="bgbtn" id="next_quest">
                    <h3 class="noBorder">Další</h3>
                </div>
            </div>
        </div>

        
    </div>
    <div class="result hidden">
        <img src="../static/styles/images/logos/trophy.svg" alt="" id="trophy" width="25%" height="25%">
        <h2>Výsledky</h2>
        <p id="points"></p>
        <div class="height_spacer"></div>
        <a class="playagainbtn" id="playagain">Hrát znovu</a>
    </div>
    <div class="height_spacer"></div>
<script src="../static/quiz.js"></script>
<script src="../static/quest.js"></script>
</body>
</html>
