<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{
        url_for('static', filename='styles/vlan.css')
    }}">
    <title>Scriptos - Netzwe</title>
</head>
<body>
    <h1>VLAN</h1>
    <div id="line"></div>
    <h5 for="" id="znalosti">Předpokládané znalosti:</h5>
    <h3 id="proc_su">Proč jsou potřeba?</h3>
    <div id="line2"></div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Quisque porta. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Maecenas libero. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Aenean fermentum risus id tortor. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. In enim a arcu imperdiet malesuada. Aenean id metus id velit ullamcorper pulvinar.

        Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Aenean placerat. Aenean id metus id velit ullamcorper pulvinar. Mauris tincidunt sem sed arcu. Vivamus ac leo pretium faucibus. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Ut tempus purus at lorem.
        
        
        </p>
</body>
</html>
